/**
* @name DisColorFull
* @author Zacam
* @version 1.0.0
* @description Fills in Discords bland SVG's with Color || Inspired by @NYRI4's `Discolored' Theme
* @source https://github.com/Zacam/BetterDiscord/tree/main/DisColorFull
* @updateUrl https://zacam.github.io/BetterDiscord/DisColorFull/DisColorFull.theme.css
*/

/* Colorful SVG */
 /* Main Discord Toolbar */
div[aria-label="Threads"][role="button"] {
	background-image: url("https://discord.com/assets/5f5b447d1ae0cba4.svg") !important;
	background-size: 16px !important;
	background-position: center !important;
	background-repeat: no-repeat;
	transform: rotate(45deg) !important;
}

div[aria-label="Threads"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Notification Settings"][role="button"] {
	background-image: url("https://discord.com/assets/ca750a2b73e36154.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
	transform: scaleX(-1) !important;
}

div[aria-label="Notification Settings"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Pinned Messages"][role="button"] {
	background-image: url("https://discord.com/assets/c7ba45651998dd2c.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Pinned Messages"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Inbox"][role="button"] {
	background-image: url("https://discord.com/assets/a4c4a23d67f9f4cb.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Inbox"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Recent Mentions"] div[class="headerTitle_ab6641"] {
	background-image: url("https://discord.com/assets/a4c4a23d67f9f4cb.svg") !important;
	background-size: 20px !important;
	background-position: left !important;
	background-repeat: no-repeat;
}

div[aria-label="Recent Mentions"] div[class="headerTitle_ab6641"]>svg {
	display: none !important;
}

div[aria-label="Recent Mentions"] div[class="headerTitle_ab6641"]>div[class*="inboxTitle_ab6641"] {
	margin-left: 28px !important;
}

div[aria-label="Hide Member List"][role="button"] {
	background-image: url("https://discord.com/assets/be8706c9515e4e6e.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Hide Member List"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Help"][role="button"]>svg>path {
	fill: #7289DA !important;
}

 /* DM's View */
div[aria-label="Start Voice Call"][role="button"]>svg>path:nth-of-type(1) {
	fill: #3AA55C !important;
	fill-rule: nonzero !important;
}

div[aria-label="Start Voice Call"][role="button"]>svg>path:nth-of-type(2) {
	fill: #3AA55C !important;
}

div[aria-label="Start Video Call"][role="button"] {
	background-image: url("https://discord.com/assets/d1612a30f6f75120.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Start Video Call"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Add Friends to DM"] {
	background-image: url("https://discord.com/assets/5b12dce3a467ed97.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Add Friends to DM"]>svg path:nth-of-type(1) {
	display: none !important;
}

div[aria-label="Add Friends to DM"]>svg path:nth-of-type(2) {
	fill: #3AA55C !important;
}

div[aria-label="Hide User Profile"][role="button"]>svg path:nth-of-type(1) {
	fill: #7289DA !important;
}

div[aria-label="Hide User Profile"][role="button"]>svg path:nth-of-type(2) {
	fill: var(--icon-tertiary) !important;
}

 /* CUI SVG's */
div[aria-label="Server List (Alt+S)"][role="button"] {
	background-image: url("https://discord.com/assets/c66649a1b3353499.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Server List (Alt+S)"][role="button"]>svg {
	display: none !important;
}
/*
div[aria-label="Channel List (Alt+C)"][role="button"] {
	background-image: url("https://discord.com/assets/d43eaa0b5420bc1c.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Channel List (Alt+C)"][role="button"]>svg {
	display: none !important;
}*/

div[aria-label="Message Input (Alt+I)"][role="button"] {
	background-image: url("https://discord.com/assets/8ae7ca9bbac47c60.svg") !important;
	background-size: 20px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Message Input (Alt+I)"][role="button"]>svg {
	display: none !important;
}

div[aria-label="Members List (Alt+M)"][role="button"] {
	background-image: url("https://discord.com/assets/be8706c9515e4e6e.svg") !important;
	background-size: 20px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[aria-label="Members List (Alt+M)"][role="button"]>svg {
	display: none !important;
}

div[aria-label="User Profile (Alt+P)"][role="button"]>svg path:nth-of-type(1) {
	fill: #7289DA !important;
}

div[aria-label="User Profile (Alt+P)"][role="button"]>svg path:nth-of-type(2) {
	fill: var(--icon-tertiary) !important;
}
 /* /END Main Discord Toolbar */

 /* Server Channels Area, Pre-Divider */
li:has(div[id*="upcoming-events"]) div[class*="iconContainer"] {
	background-image: url("https://discord.com/assets/914d5f92720b2df3.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

li:has(div[id*="upcoming-events"]) div[class*="iconContainer"]>svg {
	display: none !important;
}

li:has(div[id*="home-tab"]) div[class*="iconContainer"] {
	background-image: url("https://discord.com/assets/d9984ccdb6413349.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

li:has(div[id*="home-tab"]) div[class*="iconContainer"] svg {
	display: none !important;
}

li:has(div[aria-label*="Channels"]) div[class*="basicChannelRowLink"] svg path:nth-of-type(2) {
	fill: #d4af37 !important;
}

li:has(div[aria-label="Members"]) div[class*="iconContainer"] {
	background-image: url("https://discord.com/assets/be8706c9515e4e6e.svg") !important;
	background-size: 20px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

li:has(div[aria-label="Members"]) svg {
	display: none !important;
}

li:has(div[aria-label="Server Boosts"]) div[class*="basicChannelRowLink"] svg>path {
	fill: #FE73F9 !important;
}

li:has(div[aria-label="Server Shop"]) div[class*="basicChannelRowLink"] svg g>path {
	fill: #3AA55C !important;
	filter: hue-rotate(90deg) !important;
}

 /* Server Dropdown */
div[id="guild-header-popout-premium-subscribe"]>div[class="iconContainer_c1e9c4"]>svg path {
	fill: #FE73F9 !important;
}

div[id="guild-header-popout-invite-people"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/5b12dce3a467ed97.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[id="guild-header-popout-invite-people"]>div[class="iconContainer_c1e9c4"]>svg path:nth-of-type(1) {
	display: none !important;
}

div[id="guild-header-popout-invite-people"]>div[class="iconContainer_c1e9c4"]>svg path:nth-of-type(2) {
	fill: #3AA55C !important;
}

div[id="guild-header-popout-create-channel"]>div[class="iconContainer_c1e9c4"]>svg path {
	fill: #3AA55C !important;
}

div[id="guild-header-popout-create-category"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/edd480d5e90bc7c6.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[id="guild-header-popout-create-category"]>div[class="iconContainer_c1e9c4"]>svg {
	display: none !important;
}

div[id="guild-header-popout-create-event"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/914d5f92720b2df3.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[id="guild-header-popout-create-event"]>div[class="iconContainer_c1e9c4"]>svg {
	display: none !important;
}

div[id="guild-header-popout-application-directory"]>div[class="iconContainer_c1e9c4"]>svg path {
	fill: #3AA55C !important;
	filter: hue-rotate(90deg) !important;
}

div[id="guild-header-popout-notifications"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/5a9bb1889bc6b8dc.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[id="guild-header-popout-notifications"]>div[class="iconContainer_c1e9c4"]>svg {
	display: none !important;
}

div[id="guild-header-popout-privacy"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/51cc7794c9a923de.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

div[id="guild-header-popout-privacy"]>div[class="iconContainer_c1e9c4"]>svg {
	display: none !important;
}

div[id="guild-header-popout-change-nickname"]>div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/fe96ae6b8d6103d2.svg") !important;
	background-position: center !important;
	background-repeat: no-repeat;
	transform: scaleX(-1) !important;
}

div[id="guild-header-popout-change-nickname"]>div[class="iconContainer_c1e9c4"]>svg {
	display: none !important;
}
 /* /END Server Dropdown */

 /* Chat Input */
button[aria-label="Send a gift"] div[class="lottieIcon__5eb9b lottieIconColors__5eb9b"] {
	background-image: url("https://discord.com/assets/949f113339307625.svg") !important;
	background-position: center !important;
	background-size: 18px !important;
	background-repeat: no-repeat;
	opacity: 0.5 !important;
}

button[aria-label="Send a gift"] div[class="lottieIcon__5eb9b lottieIconColors__5eb9b"]:hover {
	opacity: 1 !important;
}

button[aria-label="Send a gift"] div[class="lottieIcon__5eb9b lottieIconColors__5eb9b"]>svg>g {
	display: none !important;
}

/* VC */
 /* User Panel */
button[aria-label="Noise Suppression powered by Krisp"] svg g>path{
	fill: #ffa500 !important;
}

section[aria-label="User area"] button[aria-label="Disconnect"] svg g>path {
	fill: var(--red-400) !important;
}

button[aria-label="Share Your Screen"]>div>div[class*="lottieIcon__5eb9b lottieIconColors__5eb9b"] {
	background-image: url("https://discord.com/assets/85dcccc0e0a8812b.svg") !important;
	background-size: 16px !important;
	background-position: center !important;
	background-repeat: no-repeat;
}

button[aria-label="Share Your Screen"] svg {
	display: none !important;
}

button[aria-label="Start An Activity"] svg path {
	fill: #3AA55C !important;
	filter: hue-rotate(90deg) !important;
}

button[aria-label="Open Soundboard"] div[class*="lottieIcon__5eb9b lottieIconColors__5eb9b"],
div[class="buttonSection__1405b"]:nth-of-type(2)>
div[class="attachedCaretButtonContainer_f1ceac"] div[class*="lottieIcon__5eb9b lottieIconColors__5eb9b"] {
	background-image: url("https://discord.com/assets/a0fbefd37a6dd7e7.svg") !important;
	background-size: 18px !important;
	background-position: right !important;
	background-repeat: no-repeat;
	transform: rotate(-45deg) !important;
}

button[aria-label="Open Soundboard"] svg,
div[class="buttonSection__1405b"]:nth-of-type(2)>
div[class="attachedCaretButtonContainer_f1ceac"] div[class*="lottieIcon__5eb9b lottieIconColors__5eb9b"] svg {
	display: none !important;
}

 /* /END User Panel */

div[id="more-settings-context-invite-friends"] div[class="iconContainer_c1e9c4"] {
	background-image: url("https://discord.com/assets/5b12dce3a467ed97.svg") !important;
	background-size: 18px !important;
	background-position: right !important;
	background-repeat: no-repeat;
}

div[id="more-settings-context-invite-friends"] svg path:nth-of-type(1) {
	display: none !important;
}

div[id="more-settings-context-invite-friends"] svg path:nth-of-type(2) {
	fill: #3AA55C !important;
}

/* VC Chat */
div[class="chatLayerWrapper__01ae2"] section[aria-label="Channel header"] div[class="iconWrapper__9293f iconDisabled__9293f"] {
	background-image: url("https://discord.com/assets/e121c79c0d9d21e5.svg") !important;
	background-size: 18px !important;
	background-position: center !important;
	background-repeat: no-repeat;
	opacity: 1 !important;
}

div[class="chatLayerWrapper__01ae2"] section[aria-label="Channel header"] div[class="iconWrapper__9293f iconDisabled__9293f"] svg {
	display:none !important;
}