/**
 * @name PurpleOnyx
 * @author Zacam
 * @version 1.9.5
 * @description Purple Accented NewUI Onyx Compact
 * @source https://github.com/Zacam/BetterDiscord/tree/main/PurpleOnyx
*/

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);
@import url(https://discordstyles.github.io/RadialStatus/RadialStatus.css);
@import url(https://davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css);
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
 /* Server Columns */
	--columns: 1;		/* default:	3	(amount of servercolumns)							*/
	--guildsize: 32;	/* default:	50	(serversize in pixel)								*/
	--guildgap: 2;		/* default:	3	(top/bottom gap between servers in pixel)			*/
	--badgescale: 1.7;	/* default: 1	(multiplier for badge size (mention/voice/stream)	*/
	--aligndms: 1;		/* default:	0	(should DMs be aligned in columns: 0 = no, 1 = yes)	*/
}

:root {
 /* Radial Status */
	/* Gap between avatar and status | MUST end in px */
	--rs-small-spacing: 2px;
	--rs-medium-spacing: 2px; /* Default: 3px  */
	--rs-large-spacing: 2px; /* Default: 4px */
	/* Thickness of status border | MUST end in px */
	--rs-small-width: 1px;
	--rs-medium-width: 2px; /* Default: 3px */
	--rs-large-width: 2px; /* Default: 4px */
	/* 50% for round - 0% for square */
	--rs-avatar-shape: 50%;
	/* Colour */
	--rs-online-color: #43A25A; /* Default: #43b581 / Colour for online status */
	--rs-idle-color: #CA9E54; /* Default #faa61a / Colour for idle status */
	--rs-dnd-color: #D83A42; /* Default: #f04747 / Colour for dnd status */
	--rs-offline-color: #82838B; /* Default: #636b75 /* Colour for offline status */
	--rs-streaming-color: #9147FF; /* Default: #643da7 / Colour for streaming status */
	/* Note: this will only show for your own invisibility */
	--rs-invisible-color: #82838B; /* Default: #747f8d / Colour for invisible status */
	/* Colour of the ring and phone icon when a user is on their phone |  */
	--rs-phone-color: #7289DA; /*var(--rs-online-color);*/
	/* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
	--rs-phone-visible: block;
}

.theme-midnight {
 /* Purple Onyx NewUI  */
	--font-primary: "Spectral", serif, "Noto Color Emoji";
	--font-display: "Spectral", serif, "Noto Color Emoji";
	--font-code: "DejaVu Sans Mono", "Consolas", monospace;
	--oPur-21: rgba(164,128,226,0.21);
	--oPur-32: rgba(164,128,226,0.32);
	--oPur-42: rgba(164,128,226,0.42);
	--oPur-64: rgba(164,128,226,0.64);
	--oPur-84: rgba(164,128,226,0.84);
	--oPurple: rgb(164,128,226);
	--brand-300: var(--oPur-64) !important;
	--brand-500: var(--oPur-84) !important;
	--custom-channel-textarea-text-area-height: 28px;
	--background-modifier-selected: var(--oPur-32) !important;
	--info-help-foreground: rgb(164,128,226) !important;
	--app-frame-border: var(--oPur-42) !important;
	--border-active: var(--oPur-64) !important;
	--border-subtle: var(--oPur-32) !important;
	--checkbox-background-selected-default: var(--oPur-64) !important;
	--checkbox-background-selected-hover: var(--oPur-42) !important;
	--input-border-default: var(--oPur-32) !important;
	--input-border-hover: var(--oPur-42) !important;
	--input-border-active: var(--oPur-64) !important;
	--mention-foreground: rgb(164,128,226) !important;
	--message-mentioned-background-default: rgba(164,128,226,0.05) !important;
	--message-mentioned-background-hover: rgba(164,128,226,0.05) !important;
	--radio-background-selected-default: var(--oPur-64) !important;
	--spoiler-hidden-background: rgba(164,128,226,0.11) !important;
	--spoiler-hidden-background-hover: var(--oPur-32) !important;
	--__current--spoiler-background-color: var(--oPur-32) !important;
	--__spoiler-background-color--revealed: var(--oPur-21) !important;
}

/* Better Discord overrides                                                                                     */
.bd-addon-list>div {
	border: 2px groove var(--border-active);
	border-radius: 8px;
	margin-bottom: 10px !important;
}

.bd-addon-list .bd-addon-header {
	background: rgb(0,0,0);
}

.bd-description-wrap {
	border-top: 2px groove var(--border-active);
}

.bd-description-wrap, .bd-footer {
	background-color: rgb(8,8,8);
}

.bd-button-filled.bd-button-color-brand,
.bd-button.selected {
	background-color: var(--oPur-64) !important;
}

.bd-modal-header {
	color: #F0F0F0;
}

.bd-switch input:checked+.bd-switch-body,
.bd-switch input:active+.bd-switch-body {
	--switch-color: var(--oPur-64);
}

.bd-switch input:checked:active+.bd-switch-body {
	--switch-color: var(--switch-color);
}

.bd-slider-track {
	background-image: linear-gradient(var(--oPur-32), var(--oPur-64));
}/*</Better Discord overrides>*/

/*General Discord                                                                                              */
 /* Input Boxes */
input:not([readOnly]):focus {
	border-color: var(--border-active) !important;
}

 /* Buttons */
button.button_a22cb0.primary_a22cb0.hasText_a22cb0,
button.button_a22cb0.sm_a22cb0.secondary_a22cb0,
button.button__201d5.lookFilled__201d5.colorBrand__201d5 {
	background: var(--oPur-42);
}

footer._8a031a135bfcb9ba-actionBar button {
	background: var(--oPur-64);
	&:hover {
		background: var(--oPur-42);
	}
}

.textButton__7a01b.primary__7a01b {
	--text-brand: var(--oPur-84);
}

 /* CHeck Boxes */
div[class*="checkbox"][class*="checked"] {
	background-color: var(--oPur-64);
	&:hover {
		background-color: var(--oPur-42);
	}
}

 /* Minimal Menu Size */
div[role="menu"] div[role^="menuitem"],
div[role="menu"] div[role^="group"] {
	padding: 0px 0px 0px 4px;
}

div[role="menu"] div[role="separator"] {
	margin: 2px 0px 2px 4px;
}

[class*="menu"] { /* allow Menu's to minify themselves */
border-color: var(--oPur-42) !important;
	min-height: unset;
	min-width: fit-content;
	background-color: rgb(11,11,11);
	[class*="submenuPaddingContainer"] { /* Constrain the Padding to go with it */
		padding: 0px !important;
	}
	[class*="submenu"] { /* Prevent Scroll Collapsing Sub-Menu's */
		max-height: unset !important;
	}
	[class*="scroller"] {
		padding: 8px 4px !important;
	}
}

 /* Number Badges */
[class*="numberBadge"] {
	--background-accent: rgba(164,128,226,0.5);
	--background-feedback-notification: rgba(164,128,226,0.5);
	--badge-notification-background: rgba(164,128,226,0.5);
	--status-danger: rgba(164,128,226,0.5);
}

 /* Radio Dots */
svg[class*="radioIndicatorChecked"]>circle[class*="refreshIconFill"] {
	fill: var(--oPur-64);
}

 /* Sliders */
.grabber_a562c8 {
	background-color: var(--oPurple);
}

.barFill_a562c8 {
	background-color: var(--oPur-64) !important;
}

 /* Switches */
.switchIndicator_a28278[style*="background-color: rgb(88, 101, 242)"] {
	background-color: var(--oPur-64) !important;
}

.switchIndicator_a28278[style*="background-color: rgba(0, 0, 0, 0.12);"] {
	background-color: #72767d !important;
}

 /* Text Hyperlinks */
.anchor_edefb8 {
	color: var(--oPur-84);
}

 /* APP Bot Tags */
[class*="botTag"] {
	color: rgb(8,8,8) !important;
}

[class*="botTag"]:not([class*="botTagOP"])>[class*="botText"] {
	display: none;
}

[class*="botTag"]:not([class*="botTagOP"]):after {
	content: "BOT";
	font-weight: var(--font-weight-bold);
}

[class*="colorDefault"] [class*="label"] {
	color: unset;
}

 /* Square Embeds */
[class*="mosaic"], [class*="Mosaic"],
[class*="spoiler"],
[class*="visualMediaItemContainer"],
[class*="embed"], [class*="embed"] img, [class*="embed"] video, video,
[class*="oneByOneGrid"],
[class^="imageWrapper"] {
	border-radius: 0px !important;
}

 /* Popout Container */
#popout_16885 {
	border: 2px groove var(--oPur-42) !important;
	border-radius: 12px;
}/*</General Discord>*/

/* Settings Panel                                                                                               */
.panel__6131a {
	margin-block: 21px 21px;
}

 /* Tabs */
[class*="tab"][class*="selected"][class*="brand"] {
	color: var(--oPur-64) !important;
	&::after {
		background-color: var(--oPur-64) !important;
	}
}

[class*="tab"][class*="vertical"][class*="selected"][class*="brand"] {
	border-inline-start: 2px solid var(--oPur-64) !important;
}

[class*="tab"][class*="brand"]:hover {
	&::after {
		background-color: var(--oPur-84) !important;
	}
}

 /* BD Settings on Top */
nav > ul:has([data-settings-sidebar-item="betterdiscord_settings_panel"]) {
	order: -1;
}/*</Settings Panel>*/

/* Toolbar                                                                                                      */
 /* Border */
.container__9293f {
	border-bottom: 2px groove var(--oPur-64) !important;
}

.toolbar_8227b0 .divider_348c72 {
	background-color: var(--oPur-64);
}

 /* OldTitleBar Close Button */
div[class^="toolbar"] svg>path[d^="M 21,10.875658 V 3 L 18.354245,5.6442048"] {
	fill: #A480E2;
}

 /* OldTitleBar Close Button */
div[class^="toolbar"] svg>path[d^="M 19.2,3 12,10.2"] {
	fill: #DA3E44;
}

 /* Title/Toolbar Spacing */
[class*="trailing"], .toolbar__9293f>.buttons_8227b0 {
	gap: unset;
	.clickable__9293f {
		margin: 0px !important;
	}
}

 /* New Group DM */
.toolbar__9293f {
	gap: unset;
	padding-inline-start: 0px !important;
	.inviteToolbar__133bf {
		padding-inline-end: 0px !important;
	}
}

 /* Pinned Messages / Inbox Notification Pip */
.iconBadge__9293f.iconBadgeBottom__9293f,
.unread__6fddf, .badge_c99c29 {
	background-color: var(--oPurple);
}

 /* Inbox Popout */
.container_fc561d.recentMentionsPopout__95796 {
	border: 1px solid var(--oPur-42);
}

.recentMentionsPopout__95796.messagesPopoutWrap_e8b59c,
.recentMentionsPopout__95796 .scroller__2692d {
	background-color: rgb(0,0,0);
}

  /* Inbox "Jump to Post" Button */
.jumpButton_ed0c8c {
	background-color: rgb(0,0,0);
	border: 1px groove var(--border-active) !important;
	&:hover
	{
		border: 1px groove var(--oPurple) !important;
		>.text_ed0c8c {
			color: var(--oPurple) !important;
		}
	}
}

  /* Post Background */
.header_ab6641.header_e8b59c,
.container__0f711, .messageContainer__95796,
.channel__427f0 .messages__1ccd1 {
	background-color: var(--background-base-lower);
}

  /* Unreads */
[data-list-id="unreads"] {
	background-color: var(--background-base-lower);
	.messages__1ccd1>.divider__1ccd1 {
		border-top-color: var(--border-active) !important;
		margin-bottom: 0.7rem !important;
		margin-top: 0.5rem !important;
		span.content__908e2 {
			color: rgb(164,128,226) !important;
		}
	}
}

.scrollingFooterWrap_e8b59c .container_d404a3 {
	min-height: 160px;
}/*</Inbox>*/

 /* Search */
  /* Re-Iconify Search from Aurora (@riddim_glitch) */
.search__49676 {
	order: -1;
	margin-left: 0px;
	margin-right: 8px;
	.searchBar_c322aa {
		/* Make the default state only show an icon that can be clicked. */
		transition: all ease 0.3s;
		width: 25px;
		border: none;
		padding: 0;
		.icon_c322aa {
			scale: 1.2;
			cursor: pointer;
		}
	}
	.search_c322aa.open_c322aa .searchBar_c322aa {
		/* Expand the search bar when focused, and keep it expanded when text is entered. */
		width: 225px;
		box-sizing: border-box;
		cursor: text;
		background: var(--input-background-default);
		border: 2px solid var(--border-active);
		padding: 2px 0px;
	}
}

  /* Search Results Header */
.totalResults_ae7890>div[style="color: var(--text-strong);"]{
	color: var(--oPur-84) !important;
}

  /* Search "Jump to Post" Button */
[id^="search-results"]>.buttonsContainer__80bf8>.button__80bf8 {
	border: 1px solid var(--border-active) !important;
	&:hover
	{
		border: 1px solid var(--oPurple) !important;
		color: var(--oPurple) !important;
	}
}

  /* Pagination Area Buttons */
.roundButton_c15210.pageButton_c15210.activeButton_c15210 {
	background-color: var(--oPur-21) !important;
	border-color: var(--border-active) !important;
	&:hover {
		background-color: var(--oPur-42) !important;
	}
}

.endButton_c15210.pageButton_c15210 {
	color: var(--oPurple) !important;
	border-color: var(--border-active) !important;
	&:hover {
		color: rgb(250,250,250) !important;
	}
}

  /* ManaPageSwitcher Overrides */
.container_b82a71 {
	margin-bottom: unset !important;
}

header.searchHeader_ae7890,
.searchResultsWrap_a98f3b .container_b82a71 {
	border: 2px groove var(--border-active) !important;
}

.pageControl_c15210 {
	height: var(--custom-app-panels-height) !important;
}/*<Search>*/
/*</Toolbar>*/

/* Profiles                                                                                                     */
 /* "Verified" Check on Connections */
svg.flowerStar__3e3b0>path {
	fill: var(--oPur-64) !important;
}

 /* Bring back the AT from Aurora (@riddim_glitch) */
.tags__63ed3.pronouns__63ed3 .userTagUsername__63ed3::before {
	content: "@";
	color: var(--text-strong);
	text-decoration: none;
}

 /* Colorize Pronouns */
.pronounsText__63ed3.userTag__63ed3 {
	/* Establishes Gradient, use of HEX color code is mandatory */
	background: linear-gradient(to left, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
	/* Clip the color to text only */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

  /* Backdrop for improved visibility */
span:has(.pronounsText__63ed3) {
	background: rgba(01,01,01,0.11) !important;
	border-radius: 12px;
}

 /* Colorized Roles */
.role_af3987 {
	transform: translate(0);
	border: unset;
}

.role_af3987 .roleCircle__4f569:before {
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	opacity: 0.32;
}

 /* Timezones Plugin Customization */
.timezone-badge {
	background-color: rgba(11,11,11,.55);
	color: var(--text-default);
	font-weight: 600;
	top: unset;
	bottom: 8px;
	left: unset;
	right: 12px;
}/*</Profiles>*/

/* Servers Panel                                                                                                */
 /* Separator */
.guildSeparator__252b6 {
	background-color: var(--oPur-64) !important;
}

.upperBadge_cc5dd2 {
	.iconBadge__650eb {
		background-color: unset;
	}
	svg.icon__2b1f5 {
		color: rgb(67, 162, 90);
	}
}

.iconBadge__650eb.isCurrentUserConnected__650eb {
	background-color: var(--oPur-42);
}

 /* New Messages Indicator */
div[class*="pill"] > span {
	background-color: var(--oPur-84);
}

.guilds__5e434 {
	border-right: 1px groove var(--border-active) !important;
	border-radius: 12px !important;
}/*</Servers Panel>*/

/* Server Channels List                                                                                         */
nav>#channels {
	border-bottom: 1px groove var(--border-active) !important;
	border-radius: 12px !important;
}

nav>#channels {
	padding-bottom: 0px;
	&::-webkit-scrollbar-track {
		margin-bottom: unset;
	}
}

 /* Remove Side Border */
.sidebarList__5e434 {
	border-left: unset;
}

 /* Unset Channel List fixed height */
nav>#channels>ul.content_d125d2 {
	height: unset !important;
}

 /* Change "Has Banner" Container height to match border alignment */
nav .bannerVisible_f37cb1 .header_f37cb1 {
	height: 47px !important;
}

 /* Add Border to Server Header Container */
nav :is(.bannerVisible_f37cb1, .container_f37cb1) .header_f37cb1 {
	border-bottom: 2px groove var(--border-active);
	&:hover {
		border-bottom: 2px groove var(--border-active);
	}
}

 /* Set Channel Header Background */
nav .header_f37cb1 {
	background-color: rgb(11,11,11);
}

[class$="headerGlass"], [class*="headerEllipse"] {
	display: none;
}

 /* Color Channel Sections Divider */
.sectionDivider__629e4 {
	background-color: rgba(164,128,226,0.5) !important;
	margin-top: 6px;
}

 /* Make Followed Topics Names same size */
.link__2ea32>.linkTop__2ea32>.name__2ea32.overflow_b0dfc2 {
	font-size: inherit !important; /* Default: 14px */
}

 /* Channel Groups Headers */
.containerDefault__29444 {
	padding-top: 4px;
}

 /* Per-Server "New Unread" Bar */
.bar__3b95d.unreadBar__629e4.unread__3b95d.active__3b95d /* Top */,
.bar__7aaec:has(>svg.unreadIcon__7aaec)/* Bottom */ {
	background: #000;
	border: 1px groove var(--oPur-64);
	color: var(--oPurple);
}

 /* More Active Posts Popout */
.layer__59d0d>div>div {
	border: 1px dashed var(--oPur-64);
	>.title__76f04 {
		--text-default: var(--oPurple);
	}
	.more__76f04>div {
		color: var(--oPur-84);
	}
}

 /* Channel Nev Post Text */
.channelInfo_c69b6d>div {
	color: var(--oPurple) !important;
	&._2b1f52e43a8f1c02-textBadge {
		background-color: unset;
	}
}

 /* Selected Channel */
.unread__2ea32.unreadImportant__2ea32 {
	background-color: var(--oPurple) !important;
}

.modeSelected__2ea32 .link__2ea32 {
	background: var(--interactive-background-hover) !important;
}

 /* Category Names */
.wrapper__29444 .name__29444 {
	color: rgb(164,164,164);
}

 /* Hovered Category Names */
.wrapper__29444:hover .name__29444 {
	color: var(--oPur-84);
}

 /* Selected/Active Channel */
.selectedChannel_c69b6d .linkTop__2ea32 {
	>.iconContainer__2ea32>svg>path {
		fill: var(--oPurple);
	}
	>.name__2ea32 {
		color: var(--oPurple);
	}
}

 /* Hovering Channel Name */
li.containerDefault_c69b6d:hover .linkTop__2ea32>.name__2ea32 {
	color: var(--oPurple);
}

 /* Unread New Message Channels */
.modeUnreadImportant__2ea32 .name__2ea32 {
	color: var(--oPur-84);
}

 /* Collapsed VC Summary SVG Color */
.voiceUserSummary__629e4 .icon__183c2 {
	color: var(--text-feedback-positive);
}

 /* "Show All" VC Button */
.refreshVoiceChannelsButton__29444>button {
	border-color: var(--oPur-64);
	color: var(--oPur-64);
}

/* Make Space for Resized Avatar Wrapper */
nav.container__2637a {
	padding-bottom: calc(var(--custom-app-panels-height) + 2px);
}/*</Server Channel List>*/

/* Avatar Wrapper                                                                                               */
section.panels__5e434 {
	border: 1px solid var(--oPur-42);
}

 /* SimplifiedUserMenu Width Alignment */
#account-panel {
	width: 225px;
}

 /* Remove Invisible status active Warning indicator */
.container_caf802:has(.hiddenVisually_b18fe2)>svg {
	display: none;
}

 /* Remove the Muted Bell from DnD */
.menuItemLabel_ce8328>svg {
	display: none;
}

 /* UserMenu */
[class*="userMenuItem"]>svg[class*="activeIcon"]>path {
	fill: var(--oPurple);
}

foreignObject[mask="url(#svg-mask-status-online)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(67, 162, 90) !important;
}

foreignObject[mask="url(#svg-mask-status-idle)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(255, 192, 78) !important;
}

foreignObject[mask="url(#svg-mask-status-dnd)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(216, 58, 66) !important;
}

foreignObject[mask="url(#svg-mask-status-offline)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(130, 131, 139) !important;
}

 /* Adds an @ to the username */
.hoverRoll__0263c .hovered__0263c::before{
	content: "@";
}

 /* Hide mute and deafen buttons */
.panels__5e434 > .container__37e49 .buttons__37e49 > :not(:nth-last-child(2)) {
	opacity: 0%;
	width: 0px;
	transition: all 0.3s ease-in-out;
}
 /* Reveal mute and Deafen buttons when settings button is hovered */
.panels__5e434 > .container__37e49 .buttons__37e49:hover > :not(:nth-last-child(2)) {
	opacity: 100%;
	width: 42px;
}

.micButtonParent__37e49:has(button) {
	width: 30px !important;;
}

 /* Remove gap to the left of Gear/Settings Button */
.panels__5e434 > .container__37e49 {
	padding: 0px 0px 1px 8px;
	.buttons__37e49 {
		gap: unset;
	}
}

 /* Shrink up the size of the Wrapper */
.visual-refresh section.panels__5e434 {
	bottom: 1px;
	left: 1px;
	margin-left: calc(var(--custom-guild-list-width) - var(--space-xs)*2);
	width: calc(100% - var(--custom-guild-list-width) + 4px);
	.e131a99484292a19-actionButtons button {
		padding: 0px;
	}
}
nav.guilds__5e434 {
	mask: unset;
	margin-bottom: unset;
}
  /* Hide the bar clipping into server list */
.sidebar__5e434:after {
	display: none;
}

 /* Shrink Padding when on VC */
.panels__5e434 .container_e131a9 {
	padding-bottom: 0px;
}/*</Avatar Wrapper>*/

/* Chat Body                                                                                                    */
 /* Cosmetic Borders */
.page__5e434 {
	border-color: var(--border-active) !important;
}

 /* "New" Posts Banner */
.newMessagesBar__0f481 {
	background-color: rgba(0,0,0,0.84);
	color: var(--oPur-84);
	.span__0f481, .barButtonAlt__0f481 {
		text-shadow: 0px 0px rgb(164,164,164);
	}
}

 /* Show Time a message edit happened */
[id^="message-content"]>[class^="timestamp"] [class^="hiddenVisually"] {
	clip-path: unset;
	position: inherit;
	font-size: inherit;
	&::before {
		content: "(";
	}
	&::after {
		content: ")";
	}
}
[id^="message-content"] span[class^="edited"]:not(.message-translate-indicator) {
	display: none;
}
time, .timestamp_c19a55 {
	font-size: 12px !important;
	line-height: 24px;
}
.latin12CompactTimeStamp_c19a55 {
	padding-right: 4px;
}

 /* Adjust and pull up the reading Body */
.chatContent_f75fb0>.messagesWrapper__36d07>.scroller__36d07 {
	min-height: 0%;
	height: 95.7%;
	border-bottom: 2px groove var(--border-active);
	border-radius: 12px;
}

 /* Make _Scroll Indicator Fit */
.align-chat-input .scroller__36d07::-webkit-scrollbar-track /* Default: 40px */,
.scroller__36d07::-webkit-scrollbar-track /* Default: 8px */ {
	margin-bottom: unset;
}

 /* Code Pastes */
code {
	line-height: normal !important;
	text-wrap: nowrap !important;
}

code[class*="txt"] {
	font-size: small !important;
	padding: 0px !important;
}

 /* Dated Message Separator */
.divider__5126c.hasContent__5126c {
	border-top-color: var(--border-active);
	margin-bottom: 0.7rem !important;
	margin-top: 0.7rem !important;
	span.content__908e2 {
		color: rgb(164,128,226);
	}
}

 /* "New" Unread Divider */
.isUnread__908e2 {
	--divider-color: rgba(164,128,226,0.50);
	span {
		color: rgb(192,192,192);
	}
}

 /* Message Separator */
main ol[data-list-id="chat-messages"] li:has(.groupStart__5126c):before {
	content: "";
	position: absolute;
	height: 2px;
	left: 16px;
	right: 14px;
	background: #2f2f2f;
	opacity: .64;
}

 /* Mentioned Messages */
.mentioned__5126c:before {
	background: var(--oPur-42);
}

 /* Remove background highlighting on Scrolling Hover */
.message__5126c.wrapper_c19a55.compact_c19a55.zalgo_c19a55:not(.mentioned__5126c):hover {
	background: unset;
}

 /* Users Reaction to Post */ 
.reaction__23977, .reactionMe__23977 {
	border-color: var(--oPur-21) !important;
}

 /* Reactions Popup */
.reactionTooltip_b49891 {
	border: 1px solid var(--oPur-64);
	border-radius: 12px;
	padding: 8px;
}

 /* Chennel Mentioned */
:is(.mention, .channelMention, .roleMention__75297) {
	background-color: unset !important;
	&:hover {
		background-color: unset;
	}
}

 /* Gradient and Spacer */
.formWithLoadedChatInput_f75fb0::before,
:is(.chatGradient__36d07, .chatTypingGradientNotAtBottom__36d07).chatGradientBase__36d07 {
	display: none;
}
.scrollerSpacer__36d07 {
	height: unset;
}

 /* Who's Typing Indicator */
.typing_b88801 {
	top: -20px !important;
}
.typingDots_b88801>.text_b88801 {
	margin-left: 4px;
}

 /* Message Reply Mention Toggle */
.replyBar__841c8>.actions__841c8 {
	/* Color the On/Off Toggle */
	.mentionButton__841c8 {
		color: var(--oPur-84) !important;
	}
	/* And the Close Button as well */
	.closeButton_e876a8 > svg {
		color: rgba(216, 58, 66, 0.8);
	}
}

.container__5e434 {
	--custom-chat-input-margin-bottom: 1px;
}

 /* Image View */
.topBar__6088c :is(.actionButtons_cc1819, .closeButton__6088c) {
	border: 1px solid var(--oPur-64);
}

.topBar__6088c .closeButton__6088c svg>path {
	fill: rgb(216, 58, 66);
}

 /* Threaded View */
.newBadge_faa96b {
	background-color: var(--oPur-42) !important;
	color: rgb(192,192,192);
}

.newMessageCount_faa96b {
	color: var(--oPurple) !important;
}/*</Chat Body>*/

/* VC                                                                                                           */
.qualityIndicator__30845 {
	color: rgb(28,28,28) !important;
	background-color: var(--oPur-64);
}

.live_a7acae {
	color: rgb(208,208,208) !important;
	background-color: var(--oPur-64) !important;
}

.participantsButton__211d1,
.buttonSection__1405b {
	border: 1px solid var(--border-active);
}/*</VC>*/

/* Members List                                                                                                 */
.container_c8ffbb {
	border-left-color: var(--border-active);
}

h3.membersGroup_c8ffbb:nth-of-type(2) {
	padding: 3px 0px 0px 0px;
}

h3.membersGroup_c8ffbb {
	padding: 6px 0px 0px 0px;
	text-align: center;
	span {
		text-decoration-line: underline;
		text-decoration-color: inherit;
		text-decoration-style: double;
	}
	.membersGroupHeader_c8ffbb {
		display: inline;
	}
}/*</Members List>*/

/* DMs                                                                                                          */
 /* Friend List */
  /* Selected "Tab" */
.tabBar__133bf .selected_aa8da2 {
	--background-mod-strong: var(--oPur-32);
}
  /* Add Friend */
.addFriend__133bf {
	background-color: var(--oPur-64) !important;
}/*</Friend List>*/

 /* Decorative Border */
nav[class*="privateChannels"]>div[class*="scroller"] {
	border-bottom: 1px groove var(--oPur-64);
	border-radius: 12px;
	margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
	padding-bottom: 0px;
}

 /* Selected Category */
li.channel__972a0 .selected_bf202d {
	background-color: var(--oPur-21);
}

 /* Category Divider */
.sectionDivider_e6b769 {
	background-color: var(--border-active);
	margin: 6px 8px;
}

 /* DMs User Profile that isn't Nitro/Custom Themed */
aside .user-profile-sidebar {
	border-left: 1px groove var(--oPur-64);
}

aside .user-profile-sidebar:not(.custom-user-profile-theme) {
	background-color: #000;
	.footer__7f9c0 {
		border: 2px solid var(--oPur-32);
		margin: 0px 7px 1px 7px;
		border-radius: 12px;
		.footerButton__7f9c0 {
			background: rgba(164,128,226, 0.11);
		}
	}
}/*</DMs>*/
