/* 2026-10-08 06:00 PT */
/*
 * Github Inspired coloration of code markup
 * Created for use with PurpleOnyx Theme
 * Original base code provided by Izy
 */

 /* Code Actions Button */
.markup__75297 .codeContainer__75297:hover .codeActions__75297 {
	gap: 4px;
}

.markup__75297 .codeActions__75297 {
	top: 0px;
	z-index: 1;
}

 /* Code Font Scale */
.markup__75297 code {
	font-size: .75rem;
}

 /* Code Window Size */
.markup__75297 blockquote,
.markup__75297 pre {
	max-width: calc-size(max-content, size + .5%);
}

 /* Code Lined Background */
code:not(.inline, .diff, .codeView__4d95d) {
	/*background-color: var(--background-base-low) !important;*/
	background-image: linear-gradient(var(--message-mentioned-background-default) 50%,transparent 50%) !important;
	background-origin: content-box! important;
	background-position: 0 1.125rem !important;
	background-size: 100% 2.25rem !important;
	line-height: 1.125rem !important;
}

/* Parsed Attachment Files */
.newMosaicStyle__4d95d .textContainer__4d95d::before {
	content: "Attachment";
	background: var(--background-surface-high);
	border-top-left-radius: 8px;
	border-bottom: 1px solid var(--border-subtle);
	color: #c4c4c4;
	display: block flex;
	align-items: center;
	justify-content: center;
}

/* Markdown */
.markup__75297 .hljs {
	padding: 0px 0px 2px 0px;
	&::before {
		align-items: center;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 2px solid var(--border-normal);
		color: #c4c4c4;
		display: block flex;
		height: 14px;
		justify-content: center;
		margin-bottom: 2px;
		position: relative;
		width: 100%;
	}
}

/* Markup Label and Colors */
 /*  */
.hljs:is(.language-1c, .language-bsl, .language-os)::before {
	content: "1C Enterprise";
	background: #814CCC52;
}

 /* A */
.hljs.language-abnf::before {
	content: "ABNF";
	background: #5D617452;
}

.hljs.language-accesslog::before {
	content: "Apache Access Log";
	background: #4E5D6C52;
}

.hljs:is(.language-actionscript, .language-as)::before {
	content: "ActionScript";
	background: #882B0F52;
}

.hljs:is(.language-ada, .language-adb, .language-ads)::before {
	content: "Ada";
	background: #02F88C52;
}

.hljs:is(.language-angelscript, .language-asc)::before {
	content: "AngelScript";
	background: #C7D7DC52;
}

.hljs.language-ansi::before {
	content: " ANSI ";
	background: #333;
}

.hljs:is(.language-aconf, .language-apache, .language-apacheconf)::before {
	content: "Apache Config";
	background: #D1212752;
}

.hljs:is(.language-applescript, .language-osascript)::before {
	content: "AppleScript";
	background: #101F1F52;
}

.hljs.language-arcade::before {
	content: " ArcGIS Arcade ";
	background: #2f8e91;
	}

.hljs:is(.language-arduino, .language-ino)::before {
	content: " Arduino ";
	background: #bd791e;
}

.hljs:is(.language-armasm, .language-arm)::before {
	content: " ARM Assembly ";
	background: #5f3d82;
}

.hljs:is(.language-asciidoc, .language-adoc)::before {
	content: "AsciiDoc";
	background: #73A0C552;
}

.hljs.language-aspectj::before {
	content: "AspectJ";
	background: #A957B052;
}

.hljs:is(.language-autohotkey, .language-ahk)::before {
	content: "AutoHotKey";
	background: #6594B952;
}

.hljs.language-autoit::before {
	content: "AutoIt";
	background: #1C355252;
}

.hljs.language-avrasm::before {
	content: " AVR Assembly ";
	background: #7c22a3;
}

.hljs.language-awk::before {
	content: "Awk";
	background: #C30E9B52;
}

 /* B */
.hljs:is(.language-bash, .language-sh, .language-zsh)::before {
	content: "Bash";
	background: #89E05152;
}

.hljs.language-basic::before {
	content: "BASIC";
	background: #FF000052;
}

.hljs:is(.language-bat, .language-cmd, .language-dos)::before {
	content: "Batch/CMD File";
	background: #C1F12E52;
}

.hljs.language-bnf::before {
	content: " BNF ";
	background: #4a5c69;
}

.hljs:is(.language-brainfuck, .language-bf)::before {
	content: "Brainfuck";
	background: #2F253052;
}

 /* C */
.hljs:is(.language-c, .language-h)::before {
	content: "C";
	background: #17860052;
}

.hljs:is(.language-cc, .language-cpp, .language-cxx, .language-hh, .language-hpp, .language-hxx)::before {
	content: "C++";
	background: #F34B7D52;
}

.hljs:is(.language-cs, .language-csharp)::before {
	content: "C#";
	background: #17860052;
}

.hljs.language-cal::before { content: " C/AL"; background: #1e5989; }

.hljs:is(.language-capnproto, .language-capnp)::before {
	content: "Cap’n Proto";
	background: #C4272752;
}

.hljs.language-ceylon::before {
	content: "Ceylon";
	background: #DFA53552;
}

.hljs:is(.language-clean, .language-icl, .language-dcl)::before {
	content: "Clean";
	background: #3F85AF52;
}

.hljs:is(.language-clojure, .language-clj, .language-hic)::before {
	content: "Clojure";
	background: #DB585552;
}

.hljs.language-clojure-repl::before { content: " Clojure REPL"; background: #3b5c2a; }

.hljs:is(.language-cmake, .language-cmake\\.in)::before {
	content: "CMake";
	background: #DA343452;
}

.hljs:is(.language-coffee, .language-coffeescript, .language-cson, .language-iced)::before {
	content: "Coffee (Javascript)";
	background: #24477652;
}

.hljs.language-coq::before { content: " Coq"; background: #7b1fa2; }

.hljs:is(.language-cos, .language-cls)::before { content: " Caché Object Script"; background: #1565c0; }

.hljs:is(.language-crmsh, .language-crm, .language-pcmk)::before { content: " crmsh"; background: #2b3a42; }

.hljs:is(.language-cr, .language-crystal)::before {
	content: "Crystal";
	background: #00010052;
}

.hljs.language-csp::before { content: " CSP"; background: #546e7a; }

.hljs:is(.language-css, .language-scss)::before {
	content: "Style Sheet";
	background: #66339952;
}

 /* D */
.hljs.language-d::before {
	content: "D";
	background: #BA595E52;
}

.hljs.language-dart::before {
	content: "Dart";
	background: #00B4AB52;
}

.hljs:is(.language-delphi, .language-dpr, .language-dfm)::before {
	content: "Delphi";
	background: #B0CE4E52;
}

.hljs:is(.language-diff, .language-patch)::before {
	content: "Diff Compare";
	background: #88dddd52;
}

.hljs:is(.language-django, .language-jinja)::before {
	content: "Django";
	background: #A52A2252;
}

.hljs:is(.language-dns, .language-bind, .language-zone)::before { content: " DNS Zone "; background: #37474f; }

.hljs:is(.language-docker, .language-dockerfile)::before {
	content: "Dockerfile";
	background: #384D5452;
}

.hljs.language-dsconfig::before { content: " dsconfig"; background: #2c3e50; }

.hljs.language-dts::before { content: " Device Tree"; background: #424242; }

.hljs:is(.language-dust, .language-dst)::before { content: " Dust"; background: #9c27b0; }

 /* E */
.hljs.language-ebnf::before { content: " EBNF "; background: #60b5cc; }

.hljs:has(.language-elixir, .language-ex, .language-exs)::before {
	content: "Elixir";
	background: #6E4A7E52;
}

.hljs.language-elm::before {
	content: "Elm";
	background: #60B5CC52;
}

.hljs.language-erb::before { content: " eRuby"; background: #701516; }

.hljs:has(.language-erlang, .language-erl)::before {
	content: "Erlang";
	background: #B8399852;
}

.hljs.language-erlang-repl::before { content: " Erlang REPL"; background: #501011; }

.hljs:(.language-excel, .language-xlsx, .language-xls)::before {
	content: "Excel formulae";
	background: #107C41;
}

 /* F */
.hljs:is(.language-fsharp, .language-fs, .language-f\\#)::before {
	content: "F#";
	background: #B845FC52;
}

.hljs.language-fix::before { content: " FIX"; background: #3f51b5; }

.hljs.language-flix::before {
	content: "Flix";
	background: #D44A4552;
}

.hljs:is(.language-fortran, .language-f90, .language-f95)::before {
	content: "Fortran";
	background: #4d41b1;
}

 /* G */
.hljs:is(.language-gams, .language-gms)::before {
	content: "GAMS";
	background: #F49O2252;
}

.hljs:is(.language-gauss, .language-gss)::before { content: " GAUSS"; background: #00796b; }

.hljs:is(.language-gcode, .language-nc)::before {
	content: "G-code (ISO 6983)";
	background: #D08CF252;
}

.hljs:is(.language-gherkin, .language-feature)::before {
	content: "Gherkin";
	background: #5B206352;
}

.hljs.language-gml::before {
	content: "GML";
	background: #71B41752;
}

.hljs.language-go::before {
	content: "Go";
	background: #00ADD852;
}

.hljs.language-golo::before {
	content: " Golo";
	background: #88562A52;
}

.hljs.language-gradle::before {
	content: "Gradle";
	background: #02303A52;
}

.hljs:is(.language-graphql, .language-gql)::before {
	content: "GraphQL";
	background: #E1009852;
}

.hljs.language-groovy::before {
	content: "Groovy";
	background: #4298B852;
}

 /* H */
.hljs:is(.language-html, .language-xhtml)::before {
	content: "HTML";
	background: #e44b2352;
}

.hljs.language-haml::before {
	content: "HAML";
	background: #E34C2652;
	color: #000;
}

.hljs:is(.language-handlebars, .language-hbs, .language-htmlbars)::before {
	content: "Handlebars";
	background:	#F7931E52;
}

.hljs:is(.language-haskell, .language-hs)::before {
	content: "Haskell";
	background: #5E508652;
}

.hljs:is(.language-haxe, .language-hx)::before {
	content: "Haxe";
	background: #df7900;
}

.hljs.language-hlsl::before {
	content: "High-Level Shading";
	background: #AACE6052;
}

.hljs.language-hsp::before { content: " HSP"; background: #00838f; }

.hljs.language-http::before {
	content: "HTTP";
	background: #005C9C52;
}

.hljsis:(.language-hy, .language-hylang)::before {
	content: "Hy";
	background: #7790B252;
}

 /* I */
.hljs:is(.language-inform7, .language-i7)::before {
	content: "Inform 7";
	background: #3f51b5;
}

.hljs.language-ini::before {
	content: "ini";
	background: #D1DBE052;
}

.hljs.language-irpf90::before { content: " IRPF90"; background: #ad1457; }

.hljs.language-isbl::before { content: " ISBL"; background: #283593; }

 /* J */
.hljs:is(.language-java, .language-jsp)::before {
	content: "Java";
	background: #B0721952;
}

.hljs:is(.language-javascript, .language-js, .language-jsx, .language-cjs, .language-mjs)::before {
	content: "Javascript";
	background: #F1E05A52;
}

.hljs:is(.language-jboss-cli, .language-wildfly-cli)::before { content: " JBoss CLI"; background: #00838f; }

.hljs:is(.language-json, .language-jsonc)::before {
	content: "Json";
	background: #29292952;
}

.hljs:is(.language-julia, .language-jldoctest)::before {
	content: "Julia";
	background: #A270BA52;
}

.hljs.language-julia-repl::before {
	content: "Julia REPL";
	background: #A270BA52;
}

 /* K */
.hljs:is(.language-kotlin, .language-kt, .language-kts)::before {
	content: "Kotlin";
	background: #A97BFF52;
}

 /* L */
.hljs:is(.language-lasso, .language-ls, .language-lassoscript)::before {
	content: "Lasso";
	background: #99999952; }

.hljs:is(.language-latex, .language-tex)::before {
	content: "LaTeX";
	background: #3D611752;
}

.hljs.language-ldif::before { content: " LDIF"; background: #37474f; }

.hljs.language-leaf::before { content: " Leaf"; background: #2e7d32; }

.hljs.language-less::before {
	content: "Less";
	background: #1D365D52;
}

.hljs.language-lisp::before {
	content: "Lisp";
	background: #87AED752;
}

.hljs.language-livecodeserver::before { content: " LiveCode"; background: #009688; }

.hljs.language-livescript::before {
	content: "LiveScript";
	background: #49988652;
}

.hljs.language-llvm::before {
	content: "LLVM";
	background: #18561952;
}

.hljs.language-lsl::before {
	content: "LSL";
	background: #3D997052;
}

.hljs.language-lua::before {
	content: "Lua";
	background: #00008052;
}

 /* M */
.hljs:is(.language-makefile, .language-mak, .language-make, .language-mk)::before {
	content: "Makefile";
	background: #42781952;
}

.hljs:is(.language-markdown, .language-md, .language-mkd, .language-mkdown)::before {
	content: "Markdown";
	background: #083fA152;
}

.hljs:is(.language-mathematica, .language-mma, .language-wl)::before {
	content: "Mathematica";
	background: #DD110052;
}

.hljs.language-matlab::before {
	content: "Matlab";
	background: #E1673752;
}

.hljs.language-maxima::before { content: " Maxima"; background: #00838f; }

.hljs.language-mel::before { content: " MEL"; background: #ad1457; }

.hljs:is(.language-mercury, .language-m, .language-moo)::before {
	content: "Mercury";
	background: #FF2B2B52;
}

.hljs:is(.language-mipsasm, .language-mips)::before { content: " MIPS Assembly"; background: #3f51b5; }

.hljs.language-mizar::before { content: " Mizar"; background: #455a64; }

.hljs.language-mojolicious::before { content: " Mojolicious"; background: #1976d2; }

.hljs:is(.language-monkey, .language-mc)::before {
	content: "Monkey";
	background: #8D674752;
}

.hljs:is(.language-moonscript, .language-moon)::before {
	content: "MoonScript";
	background: #FF458552;
}

 /* N */
.hljs.language-n1ql::before { content: " N1QL"; background: #e53935; }

.hljs:is(.language-nestedtext, .language-nt)::before { content: " Nested Text"; background: #558b2f; }

.hljs:is(.language-nginx, .language-nginxconf)::before {
	content: "Nginx Config";
	background: #00963952;
}

.hljs.language-nim::before {
	content: "Nim";
	background: #FFC20052;
}

.hljs:is(.language-nix, .language-nixos)::before {
	content: "Nix";
	background: #7E7EFF;
}

.hljs.language-node-repl::before { content: " Node REPL"; background: #2e7d32; }

.hljs.language-nsis::before {
	content: " NSIS";
	background: #4e5d6c52;
}

 /* O */
.hljs:is(.language-objectivec, .language-mm, .language-objc, .language-obj-c)::before {
	content: "Objective-C";
	background: #438EFF52;
}

.hljs:is(.language-ocaml, .language-ml)::before {
	content: "OCaml";
	background: #EF7A0852;
}

.hljs:is(.language-openscad, .language-scad)::before {
	content: "OpenSCAD";
	background: #E5CD4552;
}

.hljs.language-glsl::before {
	content: "OpenGL Shading";
	background: #5686A552;
}

.hljs.language-oxygene::before {
	content: "Oxygene";
	background: #CDD0E352;
}

 /* P */
.hljs:has(.language-pas, .language-pascal)::before {
	content: "Pascal";
	background: #E3F17152;
}

.hljs.language-parser3::before { content: " Parser3"; background: #283593; }

.hljs:is(.language-perl, .language-pl, .language-pm)::before {
	content: "Perl";
	background: #0298C352;
}

.hljs.language-pf::before { content: " Packet Filter config"; background: #37474f; }

.hljs:is(.language-pgsql, .language-postgres, .language-postgresql)::before {
	content: "PostgreSQL";
	background: #33679052;
}

.hljs.language-php::before {
	content: "Php";
	background: #4F5D9552;
}

.hljs.language-php-template::before { content: " PHP template"; background: #4f5d84; }

[class$="hljs" i]::before {
	content: " Plain Text";
	background: #616161;
}

.hljs.language-pony::before {
	content: "Pony";
	background: #1976d252;
}

.hljs:is(.language-powershell, .language-pwsh, .language-ps, .language-ps1)::before {
	content: "PowerShell";
	background: #01245652;
}

.hljs:is(.language-processing, .language-pde)::before {
	content: "Processing";
	background: #0096D852;
}

.hljs.language-prolog::before {
	content: "Prolog";
	background: #74283c52;
}

.hljs.language-properties::before {
	content: ".properties";
	background: #2A627752;
}

.hljs:is(.language-protobuf, .language-proto)::before {
	content: "Protocol Buffers";
	background: #1565c052;
}

.hljs:is(.language-puppet, .language-pp)::before {
	content: "Puppet";
	background: #302B6D52;
}

.hljs:is(.language-purebasic, .language-pb, .language-pbi)::before {
	content: "PureBASIC";
	background: #5A698652;
}

.hljs.language-pycon::before {
	content: "Pycon";
	background: #3572A552;
}

.hljs:is(.language-py, .language-python)::before {
	content: "Python";
	background: #3572A552;
}

.hljs.language-python-repl::before { content: " Python REPL"; background: #0e1670; }
.hljs.language-profile::before { content: " Python profiler"; background: #2e7d32; }

 /* Q */
.hljs:is(.language-q, .language-k, .language-kdb)::before { content: " Q"; background: #00bcd4; }

.hljs:is(.language-qml, .language-qt)::before {
	content: "QML";
	background: #44A51C52;
}

 /* R */
.hljs.language-rss::before {
	content: "RSS";
	background: #0060AC52;
}

.hljs.language-ruby::before {
	content: "Ruby";
	background: #70151652;
}

.hljs.language-rust::before {
	content: "Rust";
	background: #dea58452;
}

 /* S */
.hljs.language-sas::before {
	content: "SAS";
	background: #B3493652;
}

.hljs.language-scala::before {
	content: "Scala";
	background: #C22D4052;
}

.hljs:is(.language-scheme, .language-scm)::before {
	content: "Scheme";
	background: #1E4AEC52;
}

.hljs:is(.language-scilab, .language-sci)::before {
	content: "Scilab";
	background: #CA0F2152;
}

.hljs.language-scss::before {
	content: "SCSS";
	background: #C6538C52;
}

.hljs:is(.language-shell, .language-console, .language-shellsession)::before {
	content: "Shell Session";
	background: #89E05152;
}

.hljs.language-smali::before {
	content: "Smali";
	background: #558b2f;
}

.hljs:is(.language-smalltalk, .language-st)::before {
	content: "Smalltalk";
	background: #59670652;
}

.hljs.language-sml::before {
	content: "SML";
	background: #DC566D52;
}

.hljs.language-sqf::before {
	content: "SQF";
	background: #3F3F3F52;
}

.hljs.language-sql::before {
	content: "SQL";
	background: #E38C0052;
}

.hljs:is(.language-stan, .language-stanfuncs)::before {
	content: "Stan";
	background: #B2011D52;
}

.hljs:is(.language-stata, .language-do, .language-ado)::before {
	content: "Stata";
	background: #1A5F9152;
}

.hljs:is(.language-step21, .language-p21, .language-step, .language-stp)::before { content: " STEP Part 21"; background: #37474f; }

.hljs:is(.language-stylus, .language-styl)::before {
	content: "Stylus";
	background: #FF634752;
}

.hljs.language-subunit::before { content: " SubUnit"; background: #455a64; }

.hljs.language-svg::before {
	content: "SVG";
	background: #FF990052;
}

.hljs.language-swift::before {
	content: "Swift";
	background: #FFAC4552;
}

 /* T */
.hljs:is(.language-ts, .language-typescript)::before {
	content: "TypeScript";
	background: #2b748952;
}

 /* U */

 /* V */
.hljs.language-vala::before {
	content: "Vala";
	background: #A56DE252;
}

.hljs:is(.language-vb, .language-vbnet)::before {
	content: "Visual Basic .NET";
	background: #945DB752;
}

.hljs:is(.language-vbscript, .language-vbs)::before {
	content: "VBScript";
	background: #15DCDC52;
}

.hljs.language-vbscript-html::before { content: " VBScript in HTML"; background: #0d47a1; }

.hljs:is(.language-verilog, .language-v, .language-sv, .language-svh)::before {
	content: "Verilog";
	background: #B2B7F852;
}

.hljs.language-vhdl::before {
	content: "VHDL";
	background: #ADB2CB52;
}

.hljs.language-vim::before {
	content: "Vim Script";
	background: #199F4B52;
}

 /* W */
.hljs.language-wasm::before {
	content: "WebAssembly";
	background: #04133B52;
}

.hljs.language-wren::before {
	content: "Wren";
	background: #38383852;
}

 /* X */
.hljs.language-xl::before {
	content: "eXtensible Language";
	background: #4872a852;
}

.hljs:is(.language-xml, .language-xjb, .language-xsd, .language-xsl)::before {
	content: "XML";
	background: #0060AC52;
}

.hljs.language-wsf::before {
	content: "XML Property List";
	background: #0060AC52;
}

.hljs:is(.language-xquery, .language-xpath, .language-xq, .language-xqm)::before {
	content: "XQuery";
	background: #1976d2;
}

 /* Y */
.hljs:is(.language-yaml, .language-yml)::before {
	content: "YAML";
	background: #CB171E52;
}

 /* Z */
.hljs:is(.language-zephir, .language-zep)::before {
	content: "Zephir";
	background: #118F9E52;
}
