/* GitCord Markdown */
@import url("https://zacam.github.io/BetterDiscord/PurpleOnyx/css/Markdown.css");

/* Better Discord overrides                                                                                     */
.bd-addon-list>div {
	border: 2px groove var(--border-active);
	border-radius: 8px;
	margin-bottom: 10px !important;
}

.bd-addon-list .bd-addon-header {
	background: rgb(0,0,0);
}

.bd-description-wrap {
	border-top: 2px groove var(--border-active);
}

.bd-description-wrap, .bd-footer {
	background-color: rgb(8,8,8);
}

.bd-button-filled.bd-button-color-brand,
.bd-button.selected {
	background-color: var(--oPur-64) !important;
}

.bd-modal-header {
	color: #F0F0F0;
}

.bd-radio-icon {
	stroke: var(--oPur-64);
}

.bd-radio-selected .bd-radio-icon {
	fill: var(--oPur-64);
	stroke: var(--oPur-84);
}

.bd-switch input:checked+.bd-switch-body,
.bd-switch input:active+.bd-switch-body {
	--switch-color: var(--oPur-64);
}

.bd-switch input:checked:active+.bd-switch-body {
	--switch-color: var(--oPur-64);
}

.bd-slider-track {
	background-image: linear-gradient(var(--oPur-32), var(--oPur-64));
}

#settings-menu button.bd-changelog-button:hover {
	color: var(--text-strong);
}/*</Better Discord overrides>*/

/*General Discord                                                                                              */
 /* Scrollbars */
/*Mana Modal*/.bodyList__8a031:hover,
/*Chat Body*/.messagesWrapper__36d07 .scroller__36d07:hover,
/*Threads*/.container_f369db>.list_f369db {
	scrollbar-color: var(--oPur-21) rgba(0,0,0,0);
}

/*Channel List*/.sidebarList__5e434 .scroller__629e4:hover,
/*Member List*/.membersWrap_c8ffbb .members_c8ffbb:hover,
/*DMs List*/.privateChannels_e6b769 .scroller__99e7c:hover,
/*Profile*/.profile__9c3be .profileBody__9c3be:hover,
/*Profile*/.tabBarPanel__37bfc .tabPanelScroller__37bfc:hover,
/*Inbox*/.recentMentionsPopout__95796 .scroller__2692d,
/*Pinned*/.messagesPopoutWrap_e8b59c .messagesPopout_e8b59c,
/*Search*/.searchResultsWrap_a98f3b .scroller_a98f3b,
/*Menus*/.menu_c1e9c4 .scroller_c1e9c4 {
	scrollbar-color: var(--oPur-21) rgba(0,0,0,0);
	scrollbar-width: thin;
}

 /* Tooltips */
.tooltip__4e35b {
	background: var(--background-base-low);
}

 /* Input Boxes */
input:not([readOnly]):focus {
	border-color: var(--border-active) !important;
}

 /* Buttons */
button.button_a22cb0.primary_a22cb0.hasText_a22cb0,
button.button_a22cb0.sm_a22cb0.secondary_a22cb0,
button.button__201d5.lookFilled__201d5.colorBrand__201d5 {
	background: var(--oPur-42);
}

footer._8a031a135bfcb9ba-actionBar button {
	background: var(--oPur-64);
	&:hover {
		background: var(--oPur-42);
	}
}

.textButton__7a01b.primary__7a01b {
	--text-brand: var(--oPur-84);
}

 /* CHeck Boxes */
.checkboxIndicator__714a9 {
	border-color: var(--border-active) !important;
}

div[class*="checkbox"][class*="checked"] {
	background-color: var(--oPur-64);
	&:hover {
		background-color: var(--oPur-42);
	}
}

 /* Minimal Menu Size */
div[role="menu"] div[role^="menuitem"] {
	padding: 1px 0px 0px 6px;
	margin-left: 2px;
}

div[role="menu"] div[role="separator"] {
	margin: 2px 0px 2px 4px;
}

[class*="menu"] { /* allow Menu's to minify themselves */
border-color: var(--border-normal) !important;
	min-height: unset;
	min-width: fit-content;
	background-color: rgb(11,11,11);
	&[class*="submenuPaddingContainer"] { /* Constrain the Padding to go with it */
		padding: unset;
	}
	&[class*="submenu"] { /* Prevent Scroll Collapsing Sub-Menu's */
		max-height: unset;
	}
	[class*="scroller"] {
		padding: 4px 2px 4px 4px !important;
	}
}

 /* Number Badges */
[class*="numberBadge"] {
	--background-accent: rgba(164,128,226,0.5);
	--background-feedback-notification: rgba(164,128,226,0.5);
	--badge-notification-background: rgba(164,128,226,0.5);
	--status-danger: rgba(164,128,226,0.5);
}

 /* Text Badges */
[class^="newTextBadge"] {
	--badge-notification-background: var(--oPur-84);
}

 /* Radio Buttons */
.outerRadioBase__64e61 {
	stroke: var(--oPur-64);
}

 /* Sliders */
.grabber_a562c8, .mediaBarGrabber_b26b79 {
	background-color: var(--oPurple) !important;
}
.barFill_a562c8 {
	background-color: var(--oPur-64) !important;
}
.slider_a562c8 .defaultValue_a562c8 .markValue_a562c8 {
	color: var(--oPurple);
	>.text-xs\/medium_cf4812 {
		color: var(--oPurple) !important;
	}
}

 /* Switches */
.container__3f21e.checked__3f21e {
	background-color: var(--oPur-64) !important;
}
.switchIndicator_a28278[style*="background-color: rgb(88, 101, 242)"] {
	background-color: var(--oPur-64) !important;
}
.switchIndicator_a28278[style*="background-color: rgb(68, 82, 187)"] {
	background-color: var(--oPur-42) !important;
}
.switchIndicator_a28278[style*="background-color: rgba(0, 0, 0, 0.12);"] {
	background-color: #72767d !important;
	&:hover {
		background-color: var(--oPur-42) !important;
	}
}

 /* APP Bot Tags */
[class*="botTag"] {
	color: rgb(8,8,8) !important;
}

[class*="botTag"]:not([class*="botTagOP"])>[class*="botText"] {
	display: none;
}

[class*="botTag"]:not([class*="botTagOP"]):after {
	content: "BOT";
	font-weight: var(--font-weight-bold);
}

[class*="colorDefault"] [class*="label"] {
	color: unset;
}

[class*="botTagOP"] {
	background-color: var(--oPur-84);
}

 /* Square Embeds */
[class*="mosaic"], [class*="Mosaic"],
[class*="spoiler"],
[class*="visualMediaItemContainer"],
[class*="embed"], [class*="embed"] img, [class*="embed"] video, video,
[class*="oneByOneGrid"],
[class^="imageWrapper"] {
	border-radius: 0px !important;
}

 /* Wrap the Embed Border */
.embedFull__623de {
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		border: inherit;
		border-left-width: 100vw;
		height: 100%;
	}
	&:after {
		content: "";
		position: absolute;
		top: 4px;
		right: 4px;
		bottom: 4px;
		left: 4px;
		margin-left: -4px;
		background: rgba(18, 18, 18, 0.95) !important;
	}
	.gridContainer__623de {
		position: relative;
		z-index: 3;
	}
}

 /* Popout Container */
#popout_16885 {
	border: 2px groove var(--border-normal) !important;
	border-radius: 12px;
}

 /* Emoji Picker */
#emoji-picker-tab-panel.wrapper_c0e32c {
	border: 1px solid var(--border-active);
	.header_c0e32c {
		background-color: var(--background-base-lowest);
		border-bottom-color: var(--border-active);
		gap: unset;
		padding: 4px 8px 4px 8px;
	}
	.emojiPicker_c0e32c {
		background-color: var(--background-base-lower);
		.bodyWrapper_c0e32c {
			border-left: 1px solid var(--border-active);
		}
	}
	.inspector_aeaaeb.inspector_c0e32c, .unicodeShortcut_b9ee0c {
		border-top-color: var(--border-active);
	}
	.wrapper__4e6ce.categoryList_c0e32c {
		top: 50px;
	}
}

 /* Calendar */
.react-datepicker.calendarContainer__9bb02 {
	background-color: var(--background-base-lowest);
	border: 1px solid var(--border-active);
	padding: 10px;
	button.react-datepicker__navigation {
		top: 10px;
	}
	.react-datepicker__header {
		background-color: var(--background-base-lower);
		.react-datepicker__day-names {
			margin-bottom: 0px;
		}
	}
	.react-datepicker__current-month {
		border-bottom: 1px solid var(--border-active);
		padding: 0px;
	}
}

 /* Server Settings */
.content_dbba93, .contentColumn__23e6b {
	padding: 60px 40px 10px;
}

.leftColumn_dbba93, .container_f83afb, .container_a5fa1d {
	gap: 20px;
	.divider_dbba93, .divider_f83afb, .divider_a5fa1d {
		background-color: var(--oPur-64);
	}
}

.auditLog__43dab {
	background-color: var(--background-base-lower);
	.headerClickable__43dab {
		padding-block: 5px;
		svg.expand__43dab {
			color: var(--oPur-64);
		}
	}
}

.contentColumn__23e6b {
	min-height: unset;
}

.container__4b8d8 {
	gap: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	.scrollerContainer__4b8d8 {
		background-color: var(--background-base-lowest);
		height: unset;
	}
}

.container_c2b141 {
	.closeButton_c2b141 {
		color: rgba(216, 58, 66, 0.8);
	}
	.closeButton_c2b141:hover {
		color: rgb(216, 58, 66);
		background-color: unset;
	}
}

 /* Ban/Timeout/Topic */
.container__8a031 {
	.bodySpacerTop__8a031 {
		padding-top: 8px;
	}
	.bodyControls__8a031 {
		border-bottom: 1px solid var(--border-normal);
		padding-bottom: 8px;
		&:after {
			display: none;
		}
	}
	.bodyList__8a031 {
		padding: 4px 12px 4px 16px !important;
	}
	.stack_dbd263 {
		gap: 6px !important;
		.headerTrailing__8a031 {
			padding-top: 6px;
		}
		.auto_d125d2.scrollerBase_d125d2 {
			background-color: var(--background-base-lower);
		}
	}
	.actionBar__8a031.section__8a031 {
		gap: 0px;
		padding: 6px 12px 4px !important;
	}
}/*</General Discord>*/

/* Settings Panel                                                                                               */
.panel__6131a {
	margin-block: 21px 21px;
}

.modalContent_e44912 {
	.content_e9e3ed {
		border-left: 1px solid var(--border-active);
		.contentHeader_e9e3ed {
			border-bottom: 1px solid var(--border-active);
		}
	}
	.divider__1de9c {
		border-top-color: var(--border-active);
		margin: 12px !important;
	}
	/* Scrollbars */
	.navScroller__409aa:hover {
		scrollbar-color: var(--oPur-21) rgba(0,0,0,0);
		scrollbar-width: thin;
	}
	.scroller__6131a {
		scrollbar-color: var(--oPur-21) rgba(0,0,0,0);
	}
}

 /* Tabs */
[class*="tab"] [class*="selected"][class*="brand"],
[class*="settingsTabBar"] [class*="selected"][class*="brand"] {
	color: var(--oPur-64) !important;
	&::after {
		background-color: var(--oPur-64) !important;
	}
}

[class*="tab"][class*="vertical"][class*="selected"][class*="brand"] {
	border-inline-start: 2px solid var(--border-active) !important;
}

[class*="tab"] [class*="brand"]:hover,
[class*="settingsTabBar"] [class*="brand"]:hover {
	&::after {
		background-color: var(--oPur-84) !important;
	}
}

 /* Authorized Apps */
[data-nav-anchor-key="authorized_apps_list_setting"] {
	.headingCard__24605 {
		margin-bottom: 10px;
	}
	.authedAppV2__24605 {
		background-color: var(--background-base-lower);
		border: 1px solid var(--border-normal);
		margin-bottom: 8px;
		.headerV2__24605 {
			padding: 8px 16px;
		}
		.appDetailsContainer__24605 .appDetailsSection__24605 {
			padding: 8px 0px;
		}
		.collapseable__217b7:not(:last-child) {
			margin-bottom: 0px;
		}
		.footer__24605 {
			margin: 8px 0px;
		}
	}
}

 /* Connections */
.connectionList__4109d .connection__4109d {
	background-color: var(--background-base-lower);
	border: 1px solid var(--border-active);
	gap: 10px;
	.integrationWrapper_c7f964 {
		background: var(--background-base-low);
	}
}

 /* Registered Games */
.game_cc46f0 {
	background-color: var(--background-base-lower);
	border: 1px dashed var(--border-normal);
	padding: 8px 16px;
}

 /* Appearance Theme Prompt */
.container_a1d343 {
	display: none;
}

 /* Keybinds */
.keybindGroup__740f2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.marginBottom60_fd297e {
	margin-bottom: 6px;
	.ctaContainer__740f2, .systemServiceUpsell__740f2 {
		margin-bottom: 12px;
	}
}

.defaultKeybindGroup__740f2 {
	background-color: var(--background-base-lower);
	gap: 0px;
	padding: 8px 0px;
	.divider__1de9c {
		width: auto;
	}
}

 /* BD Notifications Positions Box */
.position-wrapper .bd-container {
	margin: 12px auto;
}

 /* BD Settings on Top */
nav > ul:has([data-settings-sidebar-item="betterdiscord_settings_panel"]) {
	order: -1;
}/*</Settings Panel>*/

/* Toolbar                                                                                                      */
/* Remove the Titlebar */ /* Thanks to GH0STP4WZ, dav, and Izy */
.base__5e434 {
	margin-top: -32px;
	&:has(.trailing_c38106 > :nth-child(2)) {
		--trailingCounter: 3;
	}
	&:has(.trailing_c38106 > :nth-child(3)) {
		--trailingCounter: 4;
	}
	&:has(.trailing_c38106 > :nth-child(4)) {
		--trailingCounter: 5;
	}
	&:has(.trailing_c38106 > :nth-child(5)) {
		--trailingCounter: 6;
	}
	&:has(.trailing_c38106 > :nth-child(6)) {
		--trailingCounter: 7;
	}
}
.bar_c38106 {
	margin-top: 40px;
	z-index: 900;
	justify-content: right;
	pointer-events: none;
}
#app-mount>.systemBar_c38106 { /* Fix for Settings/Server Settings being Open */
	margin-top: 9px;
}
.bar_c38106 .leading_c38106, .bar_c38106 .title_edbb22 {
	display: none !important;
}
.bar_c38106 .trailing_c38106 {
	pointer-events: all;
	>a { display: none; }
}
.toolbar__9293f {
	margin-right: calc(32px * var(--trailingCounter) + 2px);
}
div:is(.sidebarOpen_cb9592, .threadSidebarOpen_f75fb0) .toolbar__9293f {
	margin-right: 0;
}
nav,
.headerContent_f37cb1,
.titleWrapper__9293f,
.topic__6ec1a {
	-webkit-app-region:no-drag;
}
.topic__6ec1a {
	flex: none;
}
.chat_f75fb0 .layerContainer__59d0d {
	z-index: 2;
}

 /* Reposition Popouts */
[id^="popout"][style*="top: -22px"] {
	top: 14px !important; /* Default: -22px */
}/*</Remove the Titlebar> */

 /* Toolbar Spacing */
.trailing_c38106, .toolbar__9293f {
	gap: unset;
	.winButtons_c38106 {
		gap: unset;
	}
	.clickable__81391 {
		margin: 0px 4px;
	}
}

.winButton_c38106:hover {
	border-radius: 8px;
}

.winButton_c38106 svg {
	height: 18px;
	width: 18px;
}
.winButtonMinMax_c38106:first-of-type {
	align-items: end;
	svg {
		margin-bottom: 1px;
	}
}

 /* Border */
.container__9293f {
	border-bottom: 2px groove var(--border-active) !important;
}

.upperContainer__9293f>.children__9293f:after {
	display: none;
}

 /* Update Button Fix */
.button__85643 svg {
	padding: unset;
	height: var(--chat-input-icon-size);
	width: var(--chat-input-icon-size);
}

 /* Divider */
.trailing_c38106 .winButtonsWithDivider_c38106:before {
	background-color: var(--oPur-64);
}

/* New Group DM */
.toolbar__9293f {
	gap: unset;
	padding-inline-start: 0px !important;
	.inviteToolbar__133bf {
		padding-inline-end: 0px !important;
		.iconWrapper__9293f {
			margin-left: unset;
			margin-right: unset;
		}
	}
}

 /* Pinned Messages / Inbox Notification Pip */
.iconBadge__9293f.iconBadgeBottom__9293f,
.unread__6fddf, .badge_c99c29 {
	background-color: var(--oPurple);
}

 /* Inbox Popout */
.container_fc561d.recentMentionsPopout__95796 {
	border: 1px solid var(--border-normal);
}

.recentMentionsPopout__95796.messagesPopoutWrap_e8b59c,
.recentMentionsPopout__95796 .scroller__2692d,
.recentMentionsPopout__95796 .container_d404a3 {
	background-color: rgb(0,0,0);
}

  /* Inbox "Jump to Post" Button */
.jumpButton_ed0c8c {
	background-color: rgb(0,0,0);
	border: 1px groove var(--border-active);
	&:hover
	{
		border: 1px groove var(--oPurple);
		>.text_ed0c8c {
			color: var(--oPurple);
		}
	}
}

  /* Post Background */
.header_ab6641.header_e8b59c,
.container__0f711, .messageContainer__95796,
.channel__427f0 .messages__1ccd1 {
	background-color: var(--background-base-lower);
}

  /* Unreads */
[data-list-id="unreads"] {
	background-color: var(--background-base-lower);
	.messages__1ccd1>.divider__1ccd1 {
		border-top-color: var(--border-active);
		margin-bottom: 0.7rem;
		margin-top: 0.5rem;
		span.content__908e2 {
			color: var(--oPurple);
		}
	}
}

  /* Mentiens Footer */
.scrollingFooterWrap_e8b59c .container_d404a3 {
	min-height: fit-content;
}

  /* Unreads Footer */
.container_fc561d .container_d404a3 {
	min-height: 210px;
}/*</Inbox>*/

 /* Search */
  /* Re-Iconify Search from Aurora (@GH0STP4WZ ) */
.search__49676 {
	order: -1;
	margin-left: 0px;
	margin-right: 6px;
	.searchBar_c322aa {
		/* Make the default state only show an icon that can be clicked. */
		transition: all ease 0.3s;
		width: 25px;
		border: none;
		padding: 0;
		.icon_c322aa {
			scale: 1.2;
			cursor: pointer;
		}
	}
	.search_c322aa.open_c322aa .searchBar_c322aa {
		/* Expand the search bar when focused, and keep it expanded when text is entered. */
		width: 225px;
		box-sizing: border-box;
		cursor: text;
		background: var(--input-background-default);
		border: 2px solid var(--border-active);
		padding: 2px 0px;
	}
}

  /* Search Results Header */
.totalResults_ae7890>div[style="color: var(--text-strong);"]{
	color: var(--oPur-84) !important;
}

  /* Search "Jump to Post" Button */
[id^="search-results"]>.buttonsContainer__80bf8>.button__80bf8 {
	border: 1px solid var(--border-active);
	&:hover
	{
		border: 1px solid var(--oPurple);
		color: var(--oPurple);
	}
}

  /* Pagination Area Buttons */
.roundButton_c15210.pageButton_c15210.activeButton_c15210 {
	background-color: var(--oPur-21);
	border-color: var(--border-active);
	&:hover {
		background-color: var(--oPur-42);
	}
}

.endButton_c15210.pageButton_c15210 {
	color: var(--oPurple);
	border-color: var(--border-active);
	&:hover {
		color: rgb(250,250,250);
	}
}

  /* Search Popout */
[id^="popout_"]>.container__16eb0 {
	background-color: var(--background-base-lower);
	padding: 4px 8px;
	.groupWrapper__971b5 {
		gap: 2px;
	}
	.divider__971b5 {
		margin: 4px 0px;
	}
}

  /* Search Filters Modal */
.container__8a031.size-md__8a031 {
	background-color: var(--background-base-lowest);
	padding-top: unset;
	padding-bottom: unset;
	.section__8a031.header__8a031 {
		border-bottom: 1px solid var(--border-subtle);
		padding: 12px 24px 8px;
	}
	.bodyInner__8a031.bodyInnerShouldScroll__8a031 {
		background-color: var(--background-base-lower);
	}
	.bodyInner__8a031.bodyInnerShouldScroll__8a031 {
		padding: 6px 8px 8px 12px;
	}
	.bodySpacerTop__8a031.bodySpacerTopBorder__8a031,
	.bodySpacerBottom__8a031.bodySpacerBottomBorder__8a031 {
		display: none;
	}
	.actionBar__8a031.section__8a031 {
		border-top: 1px solid var(--border-subtle);
		padding: 12px 24px 8px;
	}
}/*<Search>*/

 /* Pinned Messages */
[id^="popout_"] {
	.messagesPopoutWrap_e8b59c {
		background-color: var(--background-base-lowest);
		border: 1px solid var(--border-normal);
		.footer_e8b59c {
			display: none;
		}
	}
	.emptyPlaceholder_e8b59c {
		margin-bottom: 8px;
	}
	.header_e8b59c, .messagesPopout_e8b59c .messageGroupWrapper_e8b59c {
		background-color: var(--background-base-lower);
	}
	.header_e8b59c {
		border-bottom: 1px solid var(--border-active);
		padding: 6px 12px 0px 12px;
	}
}

 /* Threads */
.browser_d98031.container_d9c882 {
	border: 1px solid var(--border-subtle);
	min-height: fit-content;
	padding: 0px;
	.header_d9c882 {
		background-color: var(--background-base-lower);
		border-color: var(--border-active);
	}
	.list_c441f0 {
		background-color: var(--background-base-lowest);
		padding: 0px 8px;
		.container__1b24f {
			min-height: 160px;
			padding: 8px 32px;
			[data-button-hoisted-classname-wrapper] {
				display: none;
			}
		}
		.content_d125d2>.container__6764b {
			background-color: var(--background-base-lower);
		}
	}
}/*</Toolbar>*/

/* Profiles                                                                                                     */
 /* Profile Popup Size */
.user-profile-popout {
	border: 1px solid var(--border-active);
	border-radius: 12px;
	.inner_c0bea0 {
		gap: 4px;
		padding: 0px;
		.body__5be3e {
			gap: 6px;
			padding: 4px 0px 4px 8px !important;
		}
		.details__39ec2 > div > div[class^="text-xs/normal"] {
			width: fit-content;
			&:hover > .overflow_b0dfc2 {
				animation: 5s marquee 1s linear infinite alternate;
			}
		}
		.container__9d597:has(.hasMultipleCards__9d597) {
			padding-bottom: 0px;
			.backgroundCardContainer__9d597 {
				display: none;
			}
		}
		.footer__5be3e {
			padding: 0px 8px 4px 8px;
		}
	}
}

.section_bf424d {
	gap: unset;
}

 /* Bring back the AT from Aurora (@GH0STP4WZ ) */
.tags__63ed3.pronouns__63ed3 .userTagUsername__63ed3::before,
.clickableUsername__63ed3 .userTagUsername__63ed3::before,
 /* Place the AT on Mod View Profile */
.memberNameAndTagContainer__34940>div:not(.memberNameTextContainer__34940)::before {
	content: "@";
	color: var(--text-strong);
	text-decoration: none;
}

  /* Backdrop for improved visibility */
span:has(.pronounsText__63ed3) {
	background: rgba(19,20,22,0.84) !important;
	border-radius: 8px;
}

 /* Colorized Roles */
.role_af3987 {
	transform: translate(0);
	border: unset;
}

.role_af3987 .roleCircle__4f569:before {
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	opacity: 0.32;
}/*</Profiles>*/

/* Servers Panel                                                                                                */
 /* Separator */
.guildSeparator__252b6 {
	background-color: var(--oPur-64) !important;
}

.upperBadge_cc5dd2 {
	.iconBadge__650eb {
		background-color: unset;
	}
	svg.icon__2b1f5 {
		color: rgb(67, 162, 90);
	}
}

.iconBadge__650eb.isCurrentUserConnected__650eb {
	background-color: var(--oPur-42);
}

 /* Selected Server Indicator */
.pill_e5445c > .item__58105[style*="height: 40px;"] {
	height: 24px !important;
}

 /* New Messages Indicator */
.pill__1f388 > span.item__58105,
.pill_ed9a5f > span.item__58105,
.pill_e5445c > span.item__58105 {
	background-color: var(--oPur-84);
}

nav.wrapper_ef3116.guilds__5e434 {
	border-right: 1px groove var(--border-active) !important;
	border-radius: 12px !important;
}/*</Servers Panel>*/

/* Server Channels List                                                                                         */
nav>#channels {
	border-bottom: 1px groove var(--border-active) !important;
	border-radius: 12px !important;
	padding-bottom: 4px;
	&::-webkit-scrollbar-track {
		margin-bottom: unset;
	}
}

 /* Remove Side Border */
.sidebarList__5e434 {
	border-left: unset;
}

 /* Unset Channel List fixed height */
nav>#channels>ul.content_d125d2 {
	height: unset !important;
}

 /* Change "Has Banner" Container height to match border alignment */
nav .bannerVisible_f37cb1 .header_f37cb1 {
	height: 47px !important;
}

 /* Add Border to Server Header Container */
nav :is(.bannerVisible_f37cb1, .container_f37cb1) .header_f37cb1 {
	border-bottom: 2px groove var(--border-active);
	&:hover {
		border-bottom: 2px groove var(--border-active);
	}
}

 /* Set Channel Header Background */
nav .header_f37cb1 {
	background-color: var(--background-base-low);
}

[class$="headerGlass"], [class^="headerEllipse"] {
	display: none;
}

 /* Server Event Popup */
.content__49fc1.content_d0b769 {
	background-color: var(--background-base-lowest);
	border-radius: 12px;
	padding-bottom: 8px !important;
}

 /* Add Event */
.stack_dbd263 {
	gap: 8px !important;
	.formItem__97cfe {
		margin-top: 6px;
	}
}

.footer__49fc1.footer__99afd.footerSeparator__49fc1 {
	border-top: 1px solid var(--border-active);
	padding-top: 8px;
}

 /* Color Channel Sections Divider */
.sectionDivider__629e4 {
	background-color: rgba(164,128,226,0.5) !important;
	margin-top: 6px;
}

 /* Icon to Name Gap */
.linkTop__2ea32 {
	gap: 3px; /* var(--space-xs); 6px */
}

 /* Make Followed Topics Names same size */
.link__2ea32>.linkTop__2ea32>.name__2ea32.overflow_b0dfc2 {
	font-size: inherit !important; /* Default: 14px */
}

 /* Channel Groups Headers */
.containerDefault__29444 {
	padding-top: 4px;
}

 /* Per-Server "New Unread/Mentions" Bar */
.unread__3b95d, .mention__3b95d {
	background: #000;
	border: 1px groove var(--border-active);
	color: var(--oPurple);
}
.containerPadding__7aaec {
	width: 93%;
	.bar__7aaec {
		justify-content: center;
		background: #000;
		border: 1px groove var(--border-active);
		svg.unreadIcon__7aaec {
			display: none;
		}
		.text-xs\/semibold_cf4812 {
			color: var(--oPurple) !important;
		}
	}
}

 /* See All Topic Popout */
.layer__59d0d [class^="popover"] {
	border: 1px dashed var(--oPur-64);
	.title__76f04 {
		--text-muted: var(--oPurple);
		padding-top: unset;
	}
	.list__76f04>.row__76f04:first-of-type {
		border-top: 1px solid var(--border-subtle);
	}
	.list__76f04>.row__76f04:last-of-type {
		--text-default: var(--oPur-84);
		border-top: 1px solid var(--border-subtle);
		padding-bottom: 4px;
	}
}

 /* Channel New Post Text */
.channelInfo_c69b6d {
	div:not(.tabularNumbers__4bd52) {
		color: silver !important;
	}
	.textBadge__2b1f5, [class$="semibold_cf4812"] {
		background-color: unset !important;
		color: var(--oPurple) !important;
	}
}

 /* Threads Search */
.collapsed_d9be46 .title_d9be46 {
	overflow-x: hidden;
}

 /* Threads New Post Button */
.newPostsButton_f369db {
	border-color: var(--border-active);
	>div[style="color: var(--text-brand);"] {
		color: var(--oPur-84) !important;
	}
}

 /* Selected Channel */
.unread__2ea32.unreadImportant__2ea32 {
	background-color: var(--oPurple) !important;
}

.modeSelected__2ea32 .link__2ea32 {
	background: var(--interactive-background-hover) !important;
}

 /* Category Names */
.wrapper__29444 .name__29444 {
	color: rgb(164,164,164);
}

 /* Hovered Category Names */
.wrapper__29444:hover .name__29444 {
	color: var(--oPur-84);
}

 /* Selected/Active Channel */
.modeSelected__2ea32 .linkTop__2ea32 {
	>.iconContainer__2ea32>svg:not(.iconLive_c69b6d)>path {
		fill: var(--oPurple);
	}
	>.name__2ea32 {
		color: var(--oPurple);
	}
}

 /* Hovering Channel Name */
li.containerDefault_c69b6d:hover .linkTop__2ea32>.name__2ea32 {
	color: var(--oPurple);
}

 /* Unread New Message Channels */
.modeUnreadImportant__2ea32 .name__2ea32 {
	color: var(--oPur-84);
}

 /* Server Channel VC Users Padding */
.list_c3cd7d:has(.userSmall__07f91) {
	padding-bottom: unset;
}

 /* Remove VC 'Invite to Voice' Timer */
.list_c3cd7d>.animation_f2170c:has(>.userSmall__07f91) {
	display: none;
}

 /* Collapsed VC Summary SVG Color */
.row_b1f768>.activityIcon_b1f768, /* Server Popover Modal */
.voiceUserSummary__629e4 .icon__183c2 {
	color: var(--text-feedback-positive);
}

 /* Remove Collapsed spacer container */
.list_c3cd7d.collapsed_c3cd7d.list__07f91.listCollapse__07f91 {
	display: none;
}

 /* "Show All" VC Button */
.refreshVoiceChannelsButton__29444>button {
	border-color: var(--border-active);
	color: var(--oPur-64);
}

/* VC Border and Glow */
.voiceChannelHighlightBorder_c69b6d {
	background-color: unset;
}

.voiceChannelHighlightGlow_c69b6d {
	background: unset;
}

/* Make Space for Resized Avatar Wrapper */
nav.container__2637a {
	padding-bottom: calc(var(--custom-app-panels-height) + 2px);
}/*</Server Channel List>*/

/* Avatar Wrapper                                                                                               */
section.panels__5e434 {
	border: 1px solid var(--border-normal);
}

 /* Remove Invisible status active Warning indicator */
.container_caf802:has(.hiddenVisually_b18fe2)>svg {
	display: none;
}

 /* Remove the Muted Bell from DnD */
.menuItemLabel_ce8328>svg {
	display: none;
}

 /* UserMenu */
[class^="userMenuItem"]>svg[class^="activeIcon"]>path {
	fill: var(--oPurple);
}

.accountPopout__37e49 .body_ce8328 {
	gap: 6px;
	padding: 4px 0px 4px 8px;
}

.accountPopout__37e49 .menus_ce8328 {
	gap: unset;
}

 /* Stop Status Colors from Flickering when hovering */
foreignObject[mask="url(#svg-mask-status-online)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(67, 162, 90) !important;
}
foreignObject[mask="url(#svg-mask-status-idle)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(255, 192, 78) !important;
}
foreignObject[mask="url(#svg-mask-status-dnd)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(216, 58, 66) !important;
}
foreignObject[mask="url(#svg-mask-status-offline)"]>div[class^="status"][style="background-color: currentcolor;"] {
	background-color: rgb(130, 131, 139) !important;
}

 /* Remove Status Selection submenu */
.menu_c1e9c4[id="set-status-submenu"] .submenuPaddingContainer_c1e9c4 {
	display: none;
}
 /* and the ">" */
.menu_c1e9c4[id="set-status-submenu"] .iconContainer_c1e9c4 {
	display: none;
}
 /* Remove Status lower Description */
.menu_c1e9c4[id="set-status-submenu"] .label_c1e9c4 > .defaultColor__4bd52 {
	display: none;
}
 /* Resize the Status Picker Menu Width */
.statusPickerModalMenu_ce8328 {
	width: fit-content;
	.scroller_c1e9c4 {
		padding-right: 13px !important;
	}
}
 /* Fix Account Switcher Width */
.menu_c1e9c4[id="switch-accounts-submenu"] {
	min-width: unset !important;
	width: fit-content;
	padding-right: 6px;
}

 /* Adds an @ to the username */
.hoverRoll__0263c .hovered__0263c::before{
	content: "@";
}

 /* Hide mute and deafen buttons from @thecommieaxolotl */
.panels__5e434 > .container__37e49 .buttons__37e49 > .audioButtonParent__5e764 {
	opacity: 0%;
	width: 0px;
	transition: all 0.3s ease-in-out;
}

 /* Reveal mute and Deafen buttons when settings button is hovered */
.panels__5e434 > .container__37e49 .buttons__37e49:hover > .audioButtonParent__5e764 {
	opacity: 100%;
	width: fit-content;
}

 /* Remove gap to the left of Gear/Settings Button */
.panels__5e434 > .container__37e49 {
	padding: 0px 4px 0px 6px;
	gap: unset;
	.buttons__37e49 {
		gap: 2px;
	}
}

 /* Adjust Border Radii */
.audioButtonParent__5e764 .audioButtonWithMenu__5e764 {
	border-end-end-radius: 8px;
	border-start-end-radius: 8px;
}

.audioButtonParent__5e764 .buttonChevron__5e764 {
	border-end-start-radius: 8px;
	border-start-start-radius: 8px;
}

 /* Adjust Gap on VC */
.panels__5e434 .container_e131a9 {
	gap: 10px;
	padding-bottom: 0px;
}

 /* Shrink Padding when on VC with no Action Buttons */
.panels__5e434 .actionButtons_e131a9 button {
	margin-bottom: 10px;
}

 /* Shrink up the size of the Wrapper */
nav.guilds__5e434 {
	mask: unset;
	margin-bottom: unset;
}
  /* Hide the bar clipping into server list */
.sidebar__5e434:after {
	display: none;
}/*</Avatar Wrapper>*/

/* Chat Body                                                                                                    */
 /* Cosmetic Borders */
.chat_f75fb0.threadSidebarOpen_f75fb0,
.container__01ae2,
.scroller__7d20c,
.page__5e434 {
	border-color: var(--border-active) !important;
}

 /* "New" Posts Banner */
.newMessagesBar__0f481 {
	background-color: rgba(0,0,0,0.84);
	color: var(--oPur-84);
	.span__0f481, .barButtonAlt__0f481 {
		text-shadow: 0px 0px rgb(164,164,164);
	}
}

 /* Show Time a message edit happened */
[id^="message-content"]>[class^="timestamp"] [class^="hiddenVisually"] {
	clip-path: unset;
	position: inherit;
	font-size: inherit;
	&::before {
		content: "(";
	}
	&::after {
		content: ")";
	}
}
[id^="message-content"] span[class^="edited"]:not(.message-translate-indicator) {
	display: none;
}
time, .timestamp_c19a55 {
	font-size: 12px !important;
	line-height: 24px;
}
.latin12CompactTimeStamp_c19a55 {
	padding-right: 4px;
}

 /* Adjust and pull up the reading Body */
.chatContent_f75fb0>.messagesWrapper__36d07>.scroller__36d07 {
	min-height: 0%;
	height: 95.7%;
	border-bottom: 2px groove var(--border-active);
	border-radius: 12px;
}

 /* Make _Scroll Indicator Fit */
.align-chat-input .scroller__36d07::-webkit-scrollbar-track /* Default: 40px */,
.scroller__36d07::-webkit-scrollbar-track /* Default: 8px */ {
	margin-bottom: unset;
}

 /* Code Pastes */
code:not(.inline) {
	text-wrap: nowrap !important;
}

code[class*="txt"] {
	font-size: small !important;
	padding: 0px !important;
}

 /* Dated Message Separator */
.divider__5126c.hasContent__5126c {
	border-top-color: var(--border-active);
	margin-bottom: 0.7rem !important;
	margin-top: 0.7rem !important;
	span.content__908e2 {
		color: rgb(164,128,226);
	}
}

 /* "New" Unread Divider */
.isUnread__908e2 {
	--divider-color: rgba(164,128,226,0.50);
	span {
		color: rgb(192,192,192);
	}
}

 /* Message Separator */
main ol[data-list-id="chat-messages"] li:has(.groupStart__5126c):before {
	content: "";
	position: absolute;
	height: 2px;
	left: 16px;
	right: 14px;
	background: #2f2f2f;
	opacity: .64;
}

 /* Mentioned Messages */
.mentioned__5126c:before {
	background: var(--oPur-42);
}

 /* Remove background highlighting on Scrolling Hover */
.message__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55:not(.mentioned__5126c, .replying__5126c):hover,
.message__5126c.wrapper_c19a55.compact_c19a55.zalgo_c19a55:not(.mentioned__5126c, .replying__5126c):hover {
	background: unset;
}

 /* Post Reaction */
.reaction__23977, .reactionMe__23977 {
	animation: none !important;
	background: var(--background-base-lower) !important;
	border-color: var(--oPur-21) !important;
}

 /* De-Super Super Reactions */
.burstGlow__23977, .effectsWrapper_a9ddb3,
.effectsWrapper_a9ddb3 + img {
	display: none;
}

 /* Message Actions */
#message {
	.wrapper_f563df {
		gap: unset;
		padding: 0px;
	}
	.button_f563df {
		height: 42px;
		width: 42px;
	}
}

.buttonsInner__5126c.popover_f84418.wrapper_f7ecac {
	border: 1px solid var(--border-active);
}

 /* Reactions Popup */
.reactionTooltip_b49891 {
	border: 1px solid var(--border-active);
	border-radius: 12px;
	padding: 8px;
}

 /* Sticker size constraint */
.clickableSticker_abd7a8 {
	width: fit-content;
}

 /* File Attachments */
.nonVisualMediaItemContainer_f4758a {
	margin-top: 4px;
}

.fileWrapper__0ccae {
	max-width: 84%;
	.file__0ccae {
		border-color: var(--border-normal);
		padding: 8px 16px;
		img.icon__0ccae {
			height: 32px;
			width: 24px;
		}
	}
}

svg.downloadHoverButtonIcon__6c706 path {
	fill: rgb(119, 178, 85) !important;
}

 /* Info Modals */
.isComponentsV2__5e208 {
	max-width: min(470px,100%) !important;
	.container__60fa3 {
		gap: 4px;
		padding: 8px 16px;
	}
}

 /* Chennel Mentioned */
:is(.mention, .channelMention, .roleMention__75297) {
	background-color: unset !important;
	&:hover {
		background-color: unset;
	}
}

 /* Gradient and Spacer */
.formWithLoadedChatInput_f75fb0::before {
	display: none;
}
.scrollerSpacer__36d07 {
	height: unset;
}

 /* Who's Typing Indicator */
:is(.memberInner__5d473, .interactive_bf202d) rect.pointerEvents__44b0c[x="14.5"] {
	opacity: 0.32;
}
.typing_b88801 {
	top: -20px !important;
}
.typingDots_b88801>.text_b88801 {
	margin-left: 4px;
}

 /* Attach Button Padding */
.attachWrapper__0923f {
	padding: unset;
	.attachButton__74017 {
		margin-right: unset;
	}
}

 /* Text input alignment */
.textArea__74017 .slateTextArea_ec4baf {
	line-height: normal;
	margin-left: 3px;
	padding: 4px 0px;
}

 /* Send Message Area */
.buttons__74017 {
	gap: 4px;
}
.separator_aa63ab {
	background-color: var(--border-subtle);
	height: var(--custom-channel-textarea-text-area-height);
}
.button_aa63ab {
	min-height: 24px;
	min-width: 24px;
}

 /* Message Reply Mention Toggle */
.replyBar__841c8>.actions__841c8 {
	/* Color the On/Off Toggle */
	.mentionButton__841c8 {
		color: var(--oPur-84) !important;
	}
	/* And the Close Button as well */
	.closeButton_e876a8 > svg {
		color: rgba(216, 58, 66, 0.8);
	}
}

 /* Text Input Area */
.container__5e434 {
	--custom-chat-input-margin-bottom: 1px;
}

 /* Image View */
.topBar__6088c :is(.actionButtons_cc1819, .closeButton__6088c) {
	border: 1px solid var(--border-active);
}

.topBar__6088c .closeButton__6088c svg>path {
	fill: rgb(216, 58, 66);
}

 /* Threaded View */
.brand_c2b88c, .newBadge_faa96b, .newBadge__4ed1a>div {
	background-color: unset !important;
	color: var(--oPurple);
}

.newMessageCount_faa96b {
	color: var(--oPurple) !important;
}/*</Chat Body>*/

/* VC                                                                                                           */
.videoControls_bfe55a .flex__7c0ba:last-of-type button {
	svg.controlIcon_f1ceac {
		color: var(--oPur-64);
		&:hover {
			color: var(--oPur-84);
		}
	}
}

.videoControls_bfe55a .flex__7c0ba .leftTrayIcon_cb9592 {
	display: none;
}

.qualityIndicator__30845 {
	color: rgb(28,28,28) !important;
	background-color: var(--oPur-64);
}

.live_a7acae {
	color: rgb(208,208,208) !important;
	background-color: var(--oPur-64) !important;
}

.container__218f7:has(.activityVoiceChannel__2ef49),
.participantsButton__211d1,
.buttonSection__1405b {
	border: 1px solid var(--border-active);
}/*</VC>*/

/* Mod View Panel                                                                                               */
.guildSidebar_f75fb0 {
	margin-top: 42px;
}/*<?Mod View Panel*/

/* Members List                                                                                                 */
.container_c8ffbb {
	border-left-color: var(--border-active);
}

h3.membersGroup_c8ffbb {
	padding: 2px 0px 0px 0px;
	.membersGroupHeader_c8ffbb {
		justify-content: center;
		span:last-of-type {
			display: none;
		}
		/* Role Decorations, Inspired by ClearVision */
		&:before {
			content: "";
			height: 2px;
			flex-grow: 1;
			background: linear-gradient(to left, currentColor 50%, transparent);
			margin-top: 8px;
			margin-right: 4px;
		}
		&:after {
			content: "";
			height: 2px;
			flex-grow: 1;
			background: linear-gradient(to right, currentColor 50%, transparent);
			margin-top: 8px;
			margin-left: 4px;
		}
	}
	.membersGroupHeader_c8ffbb:not([style^="color:"]) {
		color: var(--oPurple);
	}
}/*</Members List>*/

/* DMs                                                                                                          */
 /* Friend List */
.tabBar__133bf.topPill_aa8da2 .item__133bf {
	margin: 0px 4px;
	padding: 0px 6px;
}

svg.dot__9293f {
	color: var(--oPurple);
	margin-right: 0px;
}

.title_f75fb0 div:has(>.avatar_f75fb0) {
	margin-top: -6px;
}

.akaBadge__488b1 {
	margin-top: 1px;
}

  /* Selected "Tab" */
.tabBar__133bf .selected_aa8da2 {
	--background-mod-strong: var(--oPur-32);
}
  /* Add Friend */
.addFriend__133bf {
	background-color: var(--oPur-64) !important;
}

.addFriend__133bf[aria-selected="true"] {
	--text-brand: #000;
}/*</Friend List>*/

 /* Top Gap */
ul.content_d125d2 div[style="height: 8px;"] {
	display: none;
}

 /* Decorative Border */
nav[class^="privateChannels"]>div[class^="scroller"] {
	border-bottom: 1px groove var(--border-active);
	border-radius: 12px;
	margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
	padding-bottom: 0px;
}

 /* Unread Pill */
.unreadPill__972a0 {
	background-color: var(--oPur-84);
}

 /* Selected Category */
li.channel__972a0 .selected_bf202d {
	background-color: var(--oPur-21);
}

 /* Category Divider */
.sectionDivider_e6b769 {
	background-color: var(--border-active);
	margin: 6px 8px;
}

 /* Message Requests */
.topPill_aa8da2[role="tablist"] {
	.item_f391e3.selected_aa8da2 {
		background-color: var(--oPur-42) !important;
	}
}
  /* Requests */
[data-list-id="message-requests-list"] {
	.content_d125d2 {
		height: fit-content !important;
		div[style="height: 24px;"] {
			display: none;
		}
		h2.sectionTitle_f391e3 {
			margin: 8px 10px;
		}
	}
}
  /* Spam */
[data-list-id="message-requests-spam-list"] {
	.content_d125d2 {
		height: fit-content !important;
		div[style="height: 24px;"], h2.sectionTitle_dcc822 {
			display: none;
		}
	}
}

 /* DMs User Profile that isn't Nitro/Custom Themed */
aside .user-profile-sidebar {
	border-left: 1px groove var(--border-active);
	.body_b32ca4 {
		gap: 6px;
		margin: 0px 8px;
	}
	.overlay_c0bea0.overlay_b32ca4 {
		padding: 6px;
	}
	.widgetPreviews__7f9c0 {
		margin: 6px 8px 0px;
	}
	.wishlistBreadcrumb__7f9c0 {
		margin: 6px 8px 0px;
	}
	.overlay_c0bea0.overlay__3b260 {
		margin: 6px 8px;
		.divider__23eb0.divider__3b260 {
			background-color: var(--oPur-64);
		}
	}
}

aside .user-profile-sidebar:not(.custom-user-profile-theme) {
	background-color: #000;
	.footer__7f9c0 {
		border: 2px solid var(--border-subtle);
		margin: 0px 7px 1px 7px;
		border-radius: 12px;
		.footerButton__7f9c0 {
			background: rgba(164,128,226, 0.11);
		}
	}
}

 /* Group DM's Header/Member Count */
.members_c8ffbb h2.header__13cf1 {
	color: var(--oPurple);
	display: flex;
	padding-top: 4px;
	padding-bottom: 0px;
	&:before {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to left, currentColor 50%, transparent);
		margin-top: 7px;
		margin-right: 4px;
	}
	&:after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to right, currentColor 50%, transparent);
		margin-top: 7px;
		margin-left: 4px;
	}
}/*</DMs>*/